<div id="clear-modal" class="ui small modal transition">
    <i class="close icon"></i>
    <div class="header">
        Clear Events
    </div>
    <div class="content">
        <p>Are you sure you want to clear all events?</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div ng-click="vm.clearEvents()" class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui padded grid">
    <div class="two column row">
        <div class="left floated column">
            <div ng-click="vm.refresh()" class="ui small blue labeled icon button">
                <i class="refresh icon"></i> Refresh
            </div>
            <div ng-click="vm.showClearEventsDialog()" class="ui small red labeled icon button">
                <i class="trash icon"></i> Clear Events
            </div>
        </div>
        <div class="right aligned right floated column">
            <div class="ui small icon input">
                <input ng-model="tableFilter" placeholder="Search events..." reset-field/>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.events.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        Events
                    </div>
                    <p>There are no events recorded.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="filteredEvents.length > 0">
        <div class="column">
            <table class="ui sortable celled table" ng-show="vm.events">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>User</th>
                        <th>Type</th>
                        <th>Message</th>
                        <th>Container</th>
                        <th>Node</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in filteredEvents = (vm.events | filter:tableFilter)">
                        <td>{{e.time}}</td>
                        <td>{{e.username}}</td>
                        <td>{{e.type}}</td>
                        <td>{{e.message}}</td>
                        <td>{{e.container.id | limitTo:8}}</td>
                        <td>{{e.engine.id}}</td>
                        <td>{{e.tags.join(', ')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-show="vm.events.length > 0 && filteredEvents.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        Events
                    </div>
                    <p>No events matched your filter query</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('.ui.sortable.celled.table').tablesort();
</script>
