<div class="ui basic small modal purgeEvents">
    <div class="header">
        Purge Events
    </div>
    <div class="content">
        Purge all events?  This is irreversible.
    </div>
    <div class="actions">
        <div class="ui button small">Cancel</div>
        <a ng-click="vm.purgeEvents()" class="ui button small blue">Ok</a>
    </div>
</div>

<div class="ui icon buttons toolbar">
    <a ng-click="vm.showPurgeEventsDialog()" class="ui button mini black">
        <i class="delete icon sign"></i>
        Purge
    </a>
</div>

<div class="ui icon message" ng-show="vm.events.length === 0" ngcloak>
    <i class="info icon"></i>
    <div class="content">
        <div class="header">
            Events
        </div>
        <p>There are no events recorded.</p>
    </div>
</div>

<table class="ui sortable table segment" ng-show="vm.events" ng-init="vm.initSort()">
    <thead>
        <tr>
            <th ng-class="vm.tablesort.semanticHeaderClass('time')" ng-click="vm.tablesort.sortBy('time')">Time</th>
            <th ng-class="vm.tablesort.semanticHeaderClass('container.id')" ng-click="vm.tablesort.sortBy('container.id')">Container</th>
            <th ng-class="vm.tablesort.semanticHeaderClass('engine.id')" ng-click="vm.tablesort.sortBy('engine.id')">Engine</th>
            <th ng-class="vm.tablesort.semanticHeaderClass('type')" ng-click="vm.tablesort.sortBy('type')">Type</th>
            <th ng-class="vm.tablesort.semanticHeaderClass('tags')" ng-click="vm.tablesort.sortBy('tags')">Tags</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="e in vm.events | orderBy:vm.tablesort.getSortField():vm.tablesort.isReverseSorted()">
            <td>{{e.time}}</td>
            <td>{{e.container.id|truncate}}</td>
            <td>{{e.engine.id}}</td>
            <td>{{e.type}}</td>
            <td>{{e.tags.join(', ')}}</td>
        </tr>
    </tbody>
</table>
