<div class="ui icon buttons toolbar">
    <a href="/#/containers/deploy" class="ui button mini green">
        <i class="add icon"></i>
        Deploy
    </a>
</div>

<div class="ui icon message" ng-show="vm.containers.length === 0">
    <i class="info icon"></i>
    <div class="content">
        <div class="header">
            Containers
        </div>
        <p>There are no containers deployed.</p>
    </div>
</div>

<table class="ui sortable table segment" ng-show="vm.containers">
    <thead>
        <tr>
            <th ng-class="vm.sortedTableHeading('id')" ng-click="vm.selectSortColumn('id')">ID</th>
            <th ng-class="vm.sortedTableHeading('name')" ng-click="vm.selectSortColumn('name')">Name</th>
            <th ng-class="vm.sortedTableHeading('image.name')" ng-click="vm.selectSortColumn('image.name')">Image</th>
            <th ng-class="vm.sortedTableHeading('engine.id')" ng-click="vm.selectSortColumn('engine.id')">Engine</th>
            <th ng-class="vm.sortedTableHeading('image.cpus')" ng-click="vm.selectSortColumn('image.cpus')">CPUs</th>
            <th ng-class="vm.sortedTableHeading('image.memory')" ng-click="vm.selectSortColumn('image.memory')">Memory</th>
            <th ng-class="vm.sortedTableHeading('state')" ng-click="vm.selectSortColumn('state')">State</th>
            <th ng-class="vm.sortedTableHeading('image.type')" ng-click="vm.selectSortColumn('image.type')">Type</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in vm.containers | orderBy:vm.orderByField:vm.reverseSort" ng-click="vm.go(c)" class="rowlink">
             <td>
                <a href="/#/containers/{{c.id}}">{{c.id|truncate}}</a>
            </td>
            <td>{{c.name|container_name}}</td>
            <td>{{c.image.name}}</td>
            <td>{{c.engine.id}}</td>
            <td>{{c.image.cpus}}</td>
            <td>{{c.image.memory|formatMemory}}</td>
            <td>{{c.state}}</td>
            <td>{{c.image.type}}</td>
        </tr>
    </tbody>
</table>
