<div class="row" ng-show="vm.deploying" style="text-align: center;">
<div class="six wide column">
    <div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
            <div class="header">
                Hang on to your hats!    
            </div>
            <p>We're deploying the image to the swarm cluster now.</p>
            <p>Please note that this could take a few minutes, depending on availability and size of the image</p>
        </div>
    </div>
</div>
</div>
<div class="row" ng-hide="vm.deploying">
    <div class="column">
        <div class="ui bottom attached active tab segment">
            <div class="ui error message" ng-show="vm.error">
                <div class="header">Oops...</div>
                <p>{{vm.error}}</p>
            </div>
            <div class="ui form" ng-submit="vm.deploy()">
                <h3 class="ui header">Container Deployment</h3>
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui horizontal segment">
                            <h5 class="ui dividing header">Image Configuration</h5>
                            <div class="two fields">
                                <div class="field">
                                    <label>Image Name 
                                        <i class="blue help circle icon"></i>
                                        <div class="ui popup" style="max-width: 450px;">
                                            <h5>Image Name</h5>
                                            <p>The full namespaced name of the image that you wish to use to deploy your container.</p> 
                                            <p>Docker image names follow the convention: <i>registry.myorganization.org:5000/namespace/image-name</i></p> 
                                            <p>Where:</p>
                                            <ul>
                                                <li><i>registry.myorganization.org:5000</i> is the location of the <b>registry</b> that contains the image you wish to deploy</li>
                                                <li><i>namespace</i> is an optional <b>namespace</b> to help organize and avoid image name collisions</li>
                                                <li><i>image-name</i> is the <b>image name</b> that identifies the image that you wish to deploy</li>
                                            </ul>
                                            <p>When the registry is omitted, Docker will make the assumption that you wish to deploy an image from the Official Docker Hub.  If both the registry and the namespace are omitted, then Docker will assume that you wish to deploy an image from the selection of official Docker images in the Docker Library</p>
                                        </div>
                                    </label>
                                    <input name="image" class="input" type="text" ng-model="vm.request.Image" placeholder="Image Name"></input> 
                                </div>

                                <div class="field">
                                    <label>Command</label>
                                    <input name="command" class="input" type="text" ng-model="vm.cmd" placeholder="Command"></input>
                                </div>
                            </div>
                            <h5 class="ui dividing header">Environment Variables</h5>
                            <div class="fields">
                                <div class="seven wide field">
                                    <label>Name</label>
                                    <input name="variableName" class="input" type="text" ng-model="vm.variableName" placeholder="Variable Name"></input>
                                </div>
                                <div class="eight wide field">
                                    <label>Value</label>
                                    <input name="variableValue" class="input" type="text" ng-model="vm.variableValue" placeholder="Variable Value"></input>
                                </div>
                                <div class="one wide field">
                                    <label>&nbsp;</label>
                                    <div class="ui green icon button" ng-click="vm.pushEnvVar()">
                                        <i class="add icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="fields" ng-repeat="v in vm.envVars">
                                <div class="seven wide field">
                                    <input class="input" type="text" ng-model="v.name"></input>
                                </div>
                                <div class="eight wide field">
                                    <input class="input" type="text" ng-model="v.value"></input>
                                </div>
                                <div class="one wide field">
                                    <div ng-click="vm.removeEnvVar(v)" class="ui red icon button"> 
                                        <i class="delete icon"></i>
                                    </div>
                                </div>
                            </div>
                            <h5 class="ui dividing header">Volumes</h5>
                            <div class="fields">
                                <div class="seven wide field">
                                    <label>Host Path</label>
                                    <input name="hostPath" class="input" type="text" ng-model="vm.hostPath" placeholder="Host Path"></input>
                                </div>
                                <div class="eight wide field">
                                    <label>Container Path</label>
                                    <input name="containerPath" class="input" type="text" ng-model="vm.containerPath" placeholder="Container Path"></input>
                                </div>
                                <div class="one wide field">
                                    <label>&nbsp;</label>
                                    <div class="ui green icon button" ng-click="vm.pushVolume()">
                                        <i class="add icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="fields" ng-repeat="v in vm.volumes">
                                <div class="seven wide field">
                                    <input class="input" type="text" ng-model="v.HostPath"></input>
                                </div>
                                <div class="eight wide field">
                                    <input class="input" type="text" ng-model="v.ContainerPath"></input>
                                </div>
                                <div class="one wide field">
                                    <div class="ui red icon button" ng-click="vm.deleteVolume(v)"> 
                                        <i class="delete icon"></i>
                                    </div>
                                </div>
                            </div>
                            <h5 class="ui dividing header">Container Links</h5>
                            <div class="fields">
                                <div class="seven wide field">
                                    <label>Container</label>
                                    <input name="containerToLink" class="input" type="text" ng-model="vm.containerToLink" placeholder="Container Name"></input>
                                </div>
                                <div class="eight wide field">
                                    <label>Alias</label>
                                    <input name="containerToLinkAlias" class="input" type="text" ng-model="vm.containerToLinkAlias" placeholder="Link Alias"></input>
                                </div>
                                <div class="one wide field">
                                    <label>&nbsp;</label>
                                    <div class="ui green icon button" ng-click="vm.pushLink()">
                                        <i class="add icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="fields" ng-repeat="l in vm.links">
                                <div class="seven wide field">
                                    <input class="input" type="text" ng-model="l.ContainerToLink"></input>
                                </div>
                                <div class="eight wide field">
                                    <input class="input" type="text" ng-model="l.ContainerToLinkAlias"></input>
                                </div>
                                <div class="one wide field">
                                    <div class="ui red icon button" ng-click="vm.removeLink(l)"> 
                                        <i class="delete icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui horizontal segment">
                            <h5 class="ui dividing header">Container Name</h5>
                            <div class="field">
                                <input name="containerName" class="input" type="text" ng-model="vm.containerName" placeholder="Container Name"></input> 
                            </div>
                            <h5 class="ui dividing header">Restart Policy</h5>
                            <div class="two fields">
                            <div class="field">
                                <select class="ui fluid dropdown" default="0" ng-model="vm.request.HostConfig.RestartPolicy.Name">
                                    <option value="no">Do not automatically restart</option>
                                    <option value="on-failure">Restart only on failure</option>
                                    <option value="always">Always restart</option>
                                </select>
                            </div>
                            <div class="field" ng-show="vm.request.HostConfig.RestartPolicy.Name == 'on-failure'">
                                <input type="number" ng-model="vm.request.HostConfig.RestartPolicy.MaximumRetryCount" placeholder="Maximum restart count">
                            </div>
                            </div>
                            <h5 class="ui dividing header">Port Configuration</h5>
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" id="exposeAllPorts" ng-model="vm.request.HostConfig.PublishAllPorts">
                                    <label for="exposeAllPorts">Automatically expose all ports
                                        <i class="blue help circle icon"></i>
                                        <div class="ui popup" style="width: 400px;">
                                            <h5>Expose all ports</h5>
                                            <p>If the operator chooses to automatically expose all configured ports for the image, then Docker will make the exposed port accessible on the <b>host</b> and the ports will be <b>available to any client that can reach the host</b>. When using this option, Docker will bind the exposed ports to a random port on the host between 49153 and 65535.</p>
                                        </div>
                                    </label>
                                    <br/>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="three wide field">
                                    <label>Container Port</label>
                                    <input name="containerPort" class="input" type="text" ng-model="vm.containerPort" placeholder="Container Port"></input>
                                </div>
                                <div class="three wide field">
                                    <label>Protocol</label>
                                    <select ng-model="vm.protocol">
                                        <option value="tcp">TCP</option>
                                        <option value="udp">UDP</option>
                                    </select>
                                </div>
                                <div class="five wide field">
                                    <label>Host Listen Address</label>
                                    <input name="hostPort" class="input" type="text" ng-model="vm.hostIp" placeholder="0.0.0.0"></input>
                                </div>
                                <div class="three wide field">
                                    <label>Host Port</label>
                                    <input name="hostPort" class="input" type="text" ng-model="vm.hostPort" placeholder="Host Port"></input>
                                </div>
                                <div class="one wide field">
                                    <label>&nbsp;</label>
                                    <div class="ui green icon button" ng-click="vm.pushPort()">
                                        <i class="add icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="fields" ng-repeat="p in vm.ports">
                                <div class="three wide field">
                                    <input name="containerPort" class="input" type="text" ng-model="p.ContainerPort" placeholder="Container Port"></input>
                                </div>
                                <div class="three wide field">
                                    <select ng-model="p.Protocol">
                                        <option value="tcp">TCP</option>
                                        <option value="udp">UDP</option>
                                    </select>
                                </div>
                                <div class="five wide field">
                                    <input name="hostIp" class="input" type="text" ng-model="p.HostIp" placeholder="0.0.0.0"></input>
                                </div>
                                <div class="three wide field">
                                    <input name="hostPort" class="input" type="text" ng-model="p.HostPort" placeholder="Host Port"></input>
                                </div>
                                <div class="one wide field">
                                    <div class="ui red icon button">
                                        <i class="delete icon"></i>
                                    </div>
                                </div>
                            </div>
                            <h5 class="ui dividing header">Advanced</h5>
                            <div class="field">
                                <div class="ui toggle checkbox" ng-model="vm.request.HostConfig.Privileged">
                                    <input type="checkbox" id="privileged" ng-model="vm.request.HostConfig.Privileged">
                                    <label for="privileged">Allow container to run in privileged mode
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue submit button" style="margin: 0 0 20px 30px;">
                        Deploy 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
    $('.ui.form')
        .form({
            image: {
                identifier : 'image',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter an image'
                }
                ]
            },
        });

    $('.help.circle.icon').popup({inline: true});
    $('.ui.dropdown')
        .dropdown()
        ;
});
</script>
