<div class="ui small destroy modal transition">
<i class="close icon"></i>
<div class="header">
    Destroy Container: {{ vm.selectedContainerId | limitTo:12 }}
</div>
<div class="content">
    <p>Are you sure you want to destroy this container?</p>
</div>
<div class="actions">
    <div class="ui negative button">
        No
    </div>
    <div ng-click="vm.destroyContainer()" class="ui positive right labeled icon button">
        Yes
        <i class="checkmark icon"></i>
    </div>
</div>
</div>

<div class="ui small restart modal transition" style="margin-top: -98px;">
    <i class="close icon"></i>
    <div class="header">
        Restart Container: {{ vm.selectedContainerId | limitTo:12 }}
    </div>
    <div class="content">
        <p>Are you sure you want to restart this container?</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div ng-click="vm.restartContainer()" class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div class="ui small stop modal transition" style="margin-top: -98px;">
    <i class="close icon"></i>
    <div class="header">
        Stop Container: {{ vm.selectedContainerId | limitTo:12 }}
    </div>
    <div class="content">
        <p>Are you sure you want to stop this container?</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div ng-click="vm.stopContainer()" class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div class="ui small pause modal transition" style="margin-top: -98px;">
    <i class="close icon"></i>
    <div class="header">
        Pause Container: {{ vm.selectedContainerId | limitTo:12 }}
    </div>
    <div class="content">
        <p>Are you sure you want to pause this container?</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div ng-click="vm.pauseContainer()" class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div class="ui padded grid">
    <div class="row">
        <div class="column">
            <div class="ui segment page" ng-class="{'yellow': (vm.container.State.Running && vm.container.State.Paused), 'green': (vm.container.State.Running && !vm.container.State.Paused), 'red': !vm.container.State.Running}">
                <div class= "ui grid">
                    <div class="two column row">
                        <div class="column">
                            <h3 class="ui header">
                                <div class="content">
                                    <i class="ui circle icon" ng-class="{'yellow': (vm.container.State.Running && vm.container.State.Paused), 'green': (vm.container.State.Running && !vm.container.State.Paused), 'red': !vm.container.State.Running}"></i>
                                    {{ vm.container.Name.split("/")[1] }}
                                    <div class="sub header">{{ vm.container.Config.Image }}</div>
                                </div>
                            </h3>
                        </div>
                        <div class="floated right aligned right column">
                            <h3 class="ui header">
                                <div class="content">
                                    <div class="header" ng-show="vm.container.State.Running">Started {{ vm.container.State.StartedAt | fromCalendar }}</div>
                                    <div class="header" ng-hide="vm.container.State.Running">Finished {{ vm.container.State.FinishedAt | fromCalendar }}</div>
                                </div>
                            </h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <div ng-click="vm.showPauseContainerDialog()" class="ui yellow small labeled icon button" ng-show="vm.container.State.Running && !vm.container.State.Paused">
                                <i class="pause icon"></i> Pause 
                            </div>
                            <div ng-click="vm.unpauseContainer(vm.container)" class="ui green small labeled icon button" ng-show="vm.container.State.Paused">
                                <i class="play icon"></i> Unpause 
                            </div>
                            <div ng-click="vm.showStopContainerDialog()" class="ui small labeled icon button">
                                <i class="stop icon"></i> Stop 
                            </div>
                            <div ng-click="vm.showRestartContainerDialog()" class="ui small green labeled icon button">
                                <i class="refresh icon"></i> Restart 
                            </div>
                            <div ng-click="vm.showDestroyContainerDialog()" class="ui small red labeled icon button">
                                <i class="delete icon"></i> Destroy 
                            </div>
                            <div ui-sref="dashboard.stats({id: vm.container.Id})" class="ui small orange labeled icon button">
                                <i class="bar chart icon"></i> Stats
                            </div>
                            <div ui-sref="dashboard.logs({id: vm.container.Id})" class="ui small purple labeled icon button">
                                <i class="file icon"></i> Logs 
                            </div>
                            <div ui-sref="dashboard.exec({id: vm.container.Id})" class="ui small labeled icon button">
                                <i class="terminal icon"></i> Console
                            </div>
                        </div>
                    </div>
                    <div class="three column row">
                        <div class="column">
                            <h4 class="ui dividing header">Container Configuration</h4>
                            <div class="ui two column grid">
                                <div class="column">
                                    <div class="content">
                                        <span class="header"><b>Container ID</b></span>
                                        <div class="description">{{ vm.container.Id | limitTo:12 }}</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="content">
                                        <span class="header"><b>Command</b></span>
                                        <pre class="logs">{{ vm.container.Config.Cmd.join(" ") }}</pre>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="content">
                                        <span class="header"><b>Hostname</b></span>
                                        <div class="description">{{ vm.container.Config.Hostname }}</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="content">
                                        <span class="header"><b>Domain Name</b></span>
                                        <div class="description">{{ vm.container.Config.Domainname || "N/A" }}</div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="ui dividing header">Port Configuration</h4>
                            <div class="ui divided list" ng-show="vm.container.NetworkSettings.Ports"> 
                                <div class="item" ng-repeat="(k, values) in vm.container.NetworkSettings.Ports">
                                    <div ng-show="values.length === 0 || values == null"><div class="ui horizontal label">Internal</div> {{ k }}</div>
                                    <div class="content" ng-repeat="v in values">
                                        <div><div class="ui blue horizontal label">Exposed</div> {{ v.HostIp }}:{{ v.HostPort }} &#8594; {{ k }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <h4 class="ui dividing header">Swarm Node</h4>
                            <div class="ui two column grid">
                                <div class="column">
                                    <div class="ui compact">
                                        <span class="header"><b>Name</b></span>
                                        <div class="description">{{ vm.container.Node.Name }}</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui compact">
                                        <span class="header"><b>Host</b></span>
                                        <div class="description">{{ vm.container.Node.Addr }}</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui compact">
                                        <span class="header"><b>CPUs</b></span>
                                        <div class="description">{{ vm.container.Node.Cpus || "&infin;" }}</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui compact">
                                        <span class="header"><b>Memory</b></span>
                                        <div class="description">{{ (vm.container.Node.Memory / 1024 / 1024 | number:0) || "&infin;" }} MB</div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="ui dividing header" ng-show="vm.container.HostConfig.Dns">User Defined Container DNS</h4>
                            <div class="ui divided list" ng-show="vm.container.HostConfig.Dns">
                                <div class="item">
                                        <pre ng-repeat="d in vm.container.HostConfig.Dns">{{ d }}</pre>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <h4 class="ui dividing header">Environment</h4>
                            <div ng-show="vm.container.Config.Env.length === 0">
                                <div>No environment variables configured</div>
                            </div>
                            <div class="item" ng-repeat="e in vm.container.Config.Env">
                                <pre class="logs">{{ e }}</pre>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.links.length>0">
                        <div class="column">
                            <h4 class="ui dividing header">Container Links</h4>
                            <table class="ui sortable celled table">
                                <thead>
                                    <tr>
                                        <th>Container Name</th>
                                        <th>Link Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in vm.links">
                                        <td>{{v.container}}</td>
                                        <td>{{v.link}}</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-hide="vm.isEmptyObject(vm.container.Volumes)">
                        <div class="column">
                            <h4 class="ui dividing header">Volume</h4>
                            <table class="ui sortable celled table">
                                <thead>
                                    <tr>
                                        <th>Volume</th>
                                        <th>Host Path</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(k, v) in vm.container.Volumes">
                                        <td>{{k}}</td>
                                        <td>{{v}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.top">
                        <div class="column">
                            <h4 class="ui dividing header">Processes</h4>
                            <table id="toptable" class="ui sortable celled table">
                                <thead>
                                    <tr>
                                        <th ng-repeat="t in vm.top.Titles">{{ t }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="r in vm.top.Processes">
                                        <td ng-repeat="c in r">
                                            {{ c }}
                                            <script>
$('.ui.sortable.celled.table').tablesort();
                                            </script>
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
