/* Make google fonts available offline */
@font-face {
  font-family: 'Poiret One';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Poiret-One-regular/Poiret-One-regular.eot');
  src: url('../fonts/Poiret-One-regular/Poiret-One-regular.eot?#iefix') format('embedded-opentype'),
       local('Poiret One'),
       local('Poiret-One-regular'),
       url('../fonts/Poiret-One-regular/Poiret-One-regular.woff2') format('woff2'),
       url('../fonts/Poiret-One-regular/Poiret-One-regular.woff') format('woff'),
       url('../fonts/Poiret-One-regular/Poiret-One-regular.ttf') format('truetype'),
       url('../fonts/Poiret-One-regular/Poiret-One-regular.svg#PoiretOne') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
