#logo {
    font-family: 'Poiret One', sans-serif;
    background-color: rgba(0, 68, 91, 1) !important;
    font-size: 20px;
    padding: 9px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    text-transform: none;
}

.ui.fixed.inverted.main.menu {
    text-transform: uppercase;
}

.logs {
    margin: 5px;
    font-family: 'Droid Sans Mono';
    font-size: 12px;
    word-break: break-word;
    width: 100%;
}
.containerStatusText {
    width: 1px;
    text-align: center;
}
.healthcolumn {
    width: 1px;
}
td.healthcolumn  {
    text-align: center;
}
.ui.sortable.table thead th.healthcolumn:after { 
    width: 0; 
    margin: 0;  
}
.hidden {
    display: none;
    visability:hidden;
}

i.terminal {
    border: none;
    background: none;
    color: #000000;
    opacity: 0.8;
}

div.chart, ui.chart {
    height: 300px;
}

.ui.chart svg {
    height: 250px;
}
