/* Menu Bar Styles */
#logo {
    font-family: 'Poiret One', sans-serif;
    background-color: rgba(0, 68, 91, 1) !important;
    font-size: 20px;
    padding: 9px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    text-transform: none;
}

@media (min-width: 931px) {
    #content {
        margin-top: 3rem;
    }
}

@media (max-width: 930px) {
    #content {
        margin-top: 5.5rem;
    }
}

@media (max-width: 480px) {
    #content {
        margin-top: 8rem;
    }
}

@media (max-width: 350px) {
    #content {
        margin-top: 10.5rem;
    }
}

.ui.small.model.transition {
    margin-top: -98px;
}

.ui.fixed.inverted.main.menu {
    text-transform: uppercase;
}

#select-all-table-header { 
    cursor: auto;
}
#select-all-table-header:after { 
    width: 0; 
    margin: 0;  
}

#container-health-table-header:after { 
    width: 0; 
    margin: 0;  
}

.hidden {
    display: none;
    visibility: hidden;
}

div.chart, ui.chart {
    height: 300px;
}

.ui.chart svg {
    height: 250px;
}

.logs {
    margin: 5px;
    font-family: 'Droid Sans Mono';
    font-size: 12px;
    word-break: break-word;
    width: 100%;
}
i.terminal {
    border: none;
    background: none;
    color: #000000;
    opacity: 0.8;
}
