#logo {
    font-family: 'Poiret One', sans-serif;
    background-color: rgba(0, 68, 91, 1) !important;
    font-size: 20px;
    padding: 9px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    text-transform: none;
}

.ui.fixed.inverted.main.menu {
    text-transform: uppercase;
}

.logs {
    margin: 5px;
    font-family: Menlo, curier;
    font-size: 12px;
    word-break: break-word;
    width: 100%;
}

