{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load shipyard %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Create Application' %}</span>
        <span class="pull-right">
        </span>
    </div>
    <div class="panel-body">
        <div class="app-form">
            <form role="form" method="post">
            {% crispy form %}
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
{% endblock %}
