{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load shipyard %}

{% block title %} :: {{application.name}} {% endblock %}

{% block main_content %}
<div id="dialog-application" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Edit' %} {{application.name}}</h3>
  </div>
  <div class="modal-body">
    {% crispy form_edit_application form_edit_application.helper %}
  </div>
  <div class="modal-footer">
    <a href="#" id="btn-save" class="btn btn-primary btn-large">{% trans 'Save' %}</a>
    <a href="#" class="btn btn-large" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</a>
  </div>
</div>
<div id="dialog-containers" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Attach Container' %}</h3>
  </div>
  <div class="modal-body">
    <form action="{% url 'applications.views.attach_containers' app_uuid=application.uuid %}" method="POST">
    {% csrf_token %}
    <select name="containers" multiple="true">
        {% for c in containers %}
        <option value="{{c.container_id}}">{{c.description}} ({{c.container_id}})</option>
        {% endfor %}
    </select>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary btn-large" value="{% trans 'Attach' %}"></input>
    <a href="#" class="btn btn-large" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</a>
    </form>
  </div>
</div>
<div id="application" class="fill">
    <div class="app-info">
        {% with application.get_memory_limit as mem_limit %}
        <span class="app-name">{{application.name}}</span> <span class="app-url"> @ <a href="{{application.get_app_url}}" target="_blank">{{application.get_app_url}}</a></span>
        <span class="pull-right">
          {% trans 'Memory Limit' %}: <span class="label label-info">{% if mem_limit %}{{mem_limit}} MB{% else %}{% trans 'unlimited' %}{% endif %}</span>
          {% trans 'Protocol' %}: <span class="label label-info">{{application.get_protocol_display}}</span>
          {% trans 'Backend Port' %}: <span class="label label-info">{{application.backend_port}}</span>
        </span>
        {% endwith %}
    </div>
    <div class="pull-right">
        <a href="#dialog-application" role="button" data-toggle="modal" class="btn btn-default"><i class="icon-edit"></i> {% trans 'Edit' %}</a>
    </div>
    <h3>{% trans 'Containers' %} <a href="#dialog-containers" role="button" data-toggle="modal" class="btn btn-mini"><i class="icon-plus"></i></a></h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans 'ID' %}</th>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Image' %}</th>
                <th>{% trans 'Memory Limit' %}</th>
                <th>{% trans 'Host' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Uptime' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for c in application.containers.all %}
            <tr>
                <td>{{c.get_meta.ID|slice:":12"}}</td>
                <td>{{c.description}}</td>
                <td>{{c.get_meta.Config.Image}}</td>
                <td>{{c.get_meta.Config.Memory|container_memory_to_mb}}</td>
                <td>{{c.host.name}}</td>
                <td><span class="label label-{{c.get_meta.State|container_status}}">{% if c.get_meta.State.Running %}{% trans 'running' %}{% else %}{% trans 'stopped' %}{% endif %}</span></td>
                <td>{{c.get_meta.State.StartedAt|container_uptime}}</td>
                <td>
                    <a href="#" rel="tooltip" class="remove-container" data-container-id="{{c.container_id}}" title="{% trans 'Remove Container' %}"><i class="icon-remove-circle"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">{% trans 'No containers' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $("#btn-save").click(function(){
        $("#id_uuid").val("{{application.uuid}}");
        $("#form-edit-application").submit();
        return false;
    });
    $("a.remove-container").click(function(){
        var containerId = (this).getAttribute('data-container-id');
        if (confirm("{% trans 'Are you sure you want to remove this container from the application?' %}")) {
            redirect("/applications/{{application.uuid}}/containers/" + containerId + "/remove/");
        }
        return false;
    });
</script>
{% endblock %}
