Django==1.5.1
South==0.8.1
argparse==1.2.1
django-crispy-forms==1.3.0
django-redis==3.3
django-rq==0.5.1
https://github.com/ehazlett/docker-py/archive/master.zip
python-dateutil==2.1
pytz==2013b
redis==2.7.6
requests==1.2.3
rq==0.3.7
six==1.3.0
times==0.6.1
wsgiref==0.1.2
