{% extends "base.html" %}
{% load i18n %}
{% load shipyard %}

{% block content %}
<div id="dialog-import-image" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans 'Import' %}</h4>
            </div>
            <div class="modal-body">
                <form id="form-import-image" role="form" action="{% url 'images.views.import_image' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                          <input class="form-control" name="repo_name" type="text" placeholder="{% trans 'i.e. ehazlett/shipyard' %}" autofocus="true">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-import" type="button" class="btn btn-primary">{% trans 'Import' %}</button>
            </div>
        </div>
    </div>
</div>
<div id="dialog-build-image" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans 'Build' %}</h4>
            </div>
            <div class="modal-body">
                <form id="form-build-image" role="form" action="{% url 'images.views.build_image' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                          <label class="sr-only" for="path">{% trans 'Path' %}</label>
                          <input class="form-control" id="path" name="path" type="text" placeholder="{% trans 'i.e. github.com/ehazlett/docker-py-helloworld' %}" autofocus="true">
                    </div>
                    <div class="form-group">
                          <label class="sr-only" for="tag">{% trans 'Tag' %}</label>
                          <input class="form-control" id="tag" name="tag" type="text" placeholder="{% trans 'i.e. helloworld' %}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-build" type="button" class="btn btn-primary">{% trans 'Build' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Images' %}</span>
        <span class="section-toolbar">
        </span>
        <span class="pull-right">
            <a href="#dialog-import-image" id="import-image" class="btn btn-success btn-sm" data-toggle="modal">{% trans 'Import' %}</a>
            <a href="#dialog-build-image" id="build-image" class="btn btn-success btn-sm" data-toggle="modal">{% trans 'Build' %}</a>
        </span>
    </div>
    <div class="panel-body">
        {% if images %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'ID' %}</th>
                    <th>{% trans 'Repository' %}</th>
                    <th>{% trans 'Host' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for i in images %}
                <tr>
                    <td>{{i.image_id|slice:":12"}}</td>
                    <td>{{i.repository}}</td>
                    <td>{{i.host.name}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="#" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu right">
                                <li><a href="#" rel="tooltip" class="remove-image" data-url="{% url 'images.views.remove_image' host_id=i.host.id image_id=i.image_id %}">{% trans 'Remove Image' %}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-muted">{% trans 'No images' %}</div>
        {% endif %}
    </div>
</div>
{% include "images/_common.html" %}
<script type="text/javascript">
    $("#btn-build").click(function(){
        $("#form-build-image").submit();
    });
    $("#btn-import").click(function(){
        $("#form-import-image").submit();
    });
</script>
{% endblock %}
