{% extends "base.html" %}
{% load i18n %}
{% load shipyard %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Images' %}</span>
        <span class="section-toolbar">
        </span>
        <span class="pull-right">
        </span>
    </div>
    <div class="panel-body">
        {% if images %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'ID' %}</th>
                    <th>{% trans 'Repository' %}</th>
                    <th>{% trans 'Tag' %}</th>
                    <th>{% trans 'Host' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for h,host_images in images.items %}
                {% for i in host_images %}
                <tr>
                    <td>{{i.Id|slice:":12"}}</td>
                    <td>{{i.Repository}}</td>
                    <td>{{i.Tag}}</td>
                    <td>{{h.name}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="#" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu right">
                                <li><a href="#" rel="tooltip" class="remove-image" data-url="{% url 'images.views.remove_image' host_id=h.id image_id=i.Id %}">{% trans 'Remove Image' %}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-muted">{% trans 'No images' %}</div>
        {% endif %}
    </div>
</div>
{% include "images/_common.html" %}
<script type="text/javascript">
</script>
{% endblock %}
