<div id="remove-modal" class="ui small modal transition">
<i class="close icon"></i>
<div class="header">
    Remove Account: {{ vm.selectedAccount.username }}
</div>
<div class="content">
    <p>Are you sure you want to remove this account?</p>
</div>
<div class="actions">
    <div class="ui negative button">
        No
    </div>
    <div ng-click="vm.removeAccount()" class="ui positive right labeled icon button">
        Yes
        <i class="checkmark icon"></i>
    </div>
</div>
</div>

<div class="ui padded grid">
    <div class="two column row">
        <div class="left floated column">
            <div ng-click="vm.refresh()" class="ui small blue labeled icon button">
                <i class="refresh icon"></i> Refresh
            </div>
            <div ui-sref="dashboard.addAccount" class="ui small green labeled icon button">
                <i class="plus icon"></i> Add Account 
            </div>
        </div>
        <div class="right aligned right floated column">
            <div class="ui small icon input">
                <input ng-model="tableFilter" placeholder="Search accounts..." reset-field/>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.accounts.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        Accounts
                    </div>
                    <p>There are no accounts.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="filteredAccounts.length>0">
        <div class="column">
            <table class="ui sortable celled table" ng-show="vm.accounts">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Roles</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in filteredAccounts = (vm.accounts | filter:tableFilter)">
                        <td>{{a.username}}</td>
                        <td>{{a.first_name}}</td>
                        <td>{{a.last_name}}</td>
                        <td><div ng-repeat="r in a.roles" class="ui horizontal label">{{r|roleDisplay}}</div></td>
                        <td class="collapsing">
                            <div ui-sref="dashboard.editAccount({username: a.username})" class="compact ui icon button">
                                <i class="search icon"></i>
                            </div>
                            <div ng-click="vm.showRemoveAccountDialog(a)" class="compact ui icon button red">
                                <i class="trash icon"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-show="vm.accounts.length > 0 && filteredAccounts.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        Accounts
                    </div>
                    <p>No accounts matched your filter query</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('.ui.sortable.celled.table').tablesort();
</script>
