<div class="ui breadcrumb">
    <a href="/#/containers" class="section">containers</a>
    <div class="divider"> / </div>
    <div class="active section">{{container.id | limitTo:12}}</div>
</div>

<div class="ui basic small modal removeContainer">
    <div class="header">
        Destroy Container
    </div>
    <div class="content">
        Destroy {{container.image.name}} ({{container.id|truncate}})?
    </div>
    <div class="actions">
        <div class="ui button small">Cancel</div>
        <a ng-click="destroyContainer()" class="ui button small blue">Ok</a>
    </div>
</div>

<div class="ui basic small modal stopContainer">
    <div class="header">
        Stop Container
    </div>
    <div class="content">
        Stop {{container.image.name}} ({{container.id|truncate}})?
    </div>
    <div class="actions">
        <div class="ui button small">Cancel</div>
        <a ng-click="stopContainer()" class="ui button small blue">Ok</a>
    </div>
</div>

<div class="ui basic small modal restartContainer">
    <div class="header">
        Restart Container
    </div>
    <div class="content">
        Restart {{container.image.name}} ({{container.id|truncate}})?
    </div>
    <div class="actions">
        <div class="ui button small">Cancel</div>
        <a ng-click="restartContainer()" class="ui button small blue">Ok</a>
    </div>
</div>

<div class="ui basic small modal scaleContainer">
    <div class="header">
        Scale Container
    </div>
    <div class="content">
        <div class="ui active blue progress hide">
              <div class="bar" style="width: 100%;"></div>
        </div>
        <div class="ui small form segment" ng-form="scaleForm" novalidate>
            <div class="field">
                <div class="ui left labeled icon input">
                    <input type="text" name="count" ng-model="count" value="{{containerCount}}" placeholder="total number of instances">
                    <i class="exchange icon"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui small blue button" ng-click="scale()">Scale</div>
            </div>
        </div>
    </div>
</div>

<div></div>

<div class="ui icon buttons toolbar">
    <a ng-click="showRestartContainerDialog()" class="ui button mini green">
        <i class="refresh icon"></i>
        Restart
    </a>
</div>
<div class="ui icon buttons toolbar">
    <a ng-click="showStopContainerDialog()" class="ui button mini black">
        <i class="stop icon"></i>
        Stop
    </a>
</div>
<div class="ui icon buttons toolbar">
    <a ng-click="showRemoveContainerDialog()" class="ui button mini red">
        <i class="remove sign icon"></i>
        Destroy
    </a>
</div>
<div class="ui icon buttons toolbar">
    <a ng-click="showScaleContainerDialog()" class="ui button mini blue">
        <i class="exchange icon"></i>
        Scale
    </a>
</div>
<div class="ui icon buttons toolbar">
    <a href="/#/containers/{{container.id}}/logs" class="ui button mini black">
        <i class="text file outline icon"></i>
        Logs
    </a>
</div>

<div class="ui small message red" flash-alert="error" ng-show="flash.message" duration="0">
    <i class="close icon"></i>
    {{flash.message}}
</div>
<div class="ui stackable grid four column">
    <div class="ui column">
        <div class="ui section">
            <h3 class="ui header">Name</h3>
            <div>{{container.name|container_name}}</div>
        </div>
        <div class="ui divider"></div>
        <div>
            <h3 class="ui header">Image</h3>
            <div>{{container.image.name}}</div>
        </div>
        <div class="ui divider"></div>
        <div>
            <h3 class="ui header">Type</h3>
            <div>{{container.image.type}}</div>
        </div>
        <div class="ui divider"></div>
        <h4 class="ui top attached block header">Environment</h4>
        <div class="ui segment attached" ng-hide="container.image.environment">No environment variables</div>
        <div class="ui segment attached" ng-repeat="(k,v) in container.image.environment">
            <strong>{{k}}</strong> <div class="ui mini button right floated" envvar="">Show</div>
            <div class="ui hide">{{v}}</div>
        </div>
    </div>
    <div class="ui column">
        <div class="ui section">
            <h3 class="ui header">Hostname</h3>
            <div>{{container.image.hostname}}</div>
        </div>
        <div class="ui divider"></div>
        <div class="ui section">
            <h3 class="ui header">Engine</h3>
            <div>{{container.engine.id}}</div>
        </div>
        <div class="ui divider"></div>
        <div class="ui section">
            <h3 class="ui header">Network Mode</h3>
            <div>{{container.image.network_mode}}</div>
        </div>
        <div class="ui divider"></div>
        <div class="ui section">
            <h3 class="ui header">Restart Policy</h3>
            <div>
                {{container.image.restart_policy.name || "no"}}<span ng-show="container.image.restart_policy.maximum_retry">:{{container.image.restart_policy.maximum_retry}}</span>
            </div>
        </div>
        <div class="ui divider"></div>
        <h4 class="ui top attached block header">Ports</h4>
        <div class="ui segment attached">
            <div ng-hide="container.ports">No exposed ports</div>
            <div ng-repeat="l in portLinks | orderBy:predicate">
                <a href="{{l.link}}">{{l.protocol}}/{{l.container_port}} -> {{l.hostname}}:{{l.port}}</a>
            </div>
        </div>
    </div>
    <div class="ui column">
        <h3 class="ui header">CPU</h3>
        <div>
            <canvas barchart data="containerCpuData" options="chartOptions" width="250" height="250"></canvas>
        </div>
    </div>
    <div class="ui column">
        <h3 class="ui header">Memory</h3>
        <div>
            <canvas barchart data="containerMemoryData" options="chartOptions" width="250" height="250"></canvas>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.ui.form')
            .form({
                count: {
                    identifier : 'count',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'enter a number of instances'
                        }
                    ]
                }
            }, {
                inline: 'true'
            });
    });
    $('.ui.dropdown').dropdown();
</script>
