<div class="ui icon buttons toolbar">
    <a href="/#/containers/deploy" class="ui button mini green">
        <i class="add icon"></i>
        Deploy
    </a>
</div>

<div class="ui icon message" ng-show="containers.length === 0">
    <i class="info icon"></i>
    <div class="content">
        <div class="header">
            Containers
        </div>
        <p>There are no containers running.</p>
    </div>
</div>

<table class="ui table" ng-show="containers">
    <thead>
        <tr>
            <th><a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">ID</a></th>
            <th><a href="" ng-click="orderByField='image.name'; reverseSort = !reverseSort">Name</a></th>
            <th><a href="" ng-click="orderByField='image.cpus'; reverseSort = !reverseSort">CPUs</a></th>
            <th><a href="" ng-click="orderByField='image.memory'; reverseSort = !reverseSort">Memory</a></th>
            <th><a href="" ng-click="orderByField='state'; reverseSort = !reverseSort">State</a></th>
            <th><a href="" ng-click="orderByField='image.type'; reverseSort = !reverseSort">Type</a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in containers | orderBy:orderByField:reverseSort">
            <td>
                <a href="/#/containers/{{c.id}}">{{c.id|truncate}}</a>
            </td>
            <td>{{c.image.name}}</td>
            <td>{{c.image.cpus}}</td>
            <td>{{c.image.memory|formatMemory}}</td>
            <td>{{c.state}}</td>
            <td>{{c.image.type}}</td>
        </tr>
    </tbody>
</table>
