<div class="ui icon buttons toolbar">
    <a href="/#/containers/deploy" class="ui button mini green">
        <i class="add icon"></i>
        Deploy
    </a>
</div>

<div class="ui icon message" ng-show="containers.length === 0">
    <i class="info icon"></i>
    <div class="content">
        <div class="header">
            Containers
        </div>
        <p>There are no containers deployed.</p>
    </div>
</div>

<table class="ui sortable table segment" ng-show="containers">
    <thead>
        <tr>
            <th ng-class="orderByField == 'id' ? (reverseSort ? 'descending' : 'ascending') : ''" ng-click="orderByField='id'; reverseSort = !reverseSort">ID</th>
            <th ng-class="orderByField == 'name' ? (reverseSort ? 'descending' : 'ascending') : ''" ng-click="orderByField='name'; reverseSort = !reverseSort">Name</th>
            <th ng-class="orderByField == 'image.name' ? (reverseSort ? 'descending' : 'ascending') : ''" ng-click="orderByField='image.name'; reverseSort = !reverseSort">Image</th>
            <th ng-class="orderByField == 'engine.id' ? (reverseSort ? 'descending' : 'ascending') : ''" ng-click="orderByField='engine.id'; reverseSort = !reverseSort">Engine</th>
            <th ng-class="orderByField == 'image.cpus' ? (reverseSort ? 'descending' : 'ascending') : ''" ng-click="orderByField='image.cpus'; reverseSort = !reverseSort">CPUs</th>
            <th ng-class="orderByField == 'image.memory' ? (reverseSort ? 'descending' : 'ascending') : ''" ng-click="orderByField='image.memory'; reverseSort = !reverseSort">Memory</th>
            <th ng-class="orderByField == 'state' ? (reverseSort ? 'descending' : 'ascending') : ''" ng-click="orderByField='state'; reverseSort = !reverseSort">State</th>
            <th ng-class="orderByField == 'image.type' ? (reverseSort ? 'descending' : 'ascending') : ''" ng-click="orderByField='image.type'; reverseSort = !reverseSort">Type</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in containers | orderBy:orderByField:reverseSort" ng-click="go()" class="rowlink">
             <td>
                <a href="/#/containers/{{c.id}}">{{c.id|truncate}}</a>
            </td>
            <td>{{c.name|container_name}}</td>
            <td>{{c.image.name}}</td>
            <td>{{c.engine.id}}</td>
            <td>{{c.image.cpus}}</td>
            <td>{{c.image.memory|formatMemory}}</td>
            <td>{{c.state}}</td>
            <td>{{c.image.type}}</td>
        </tr>
    </tbody>
</table>
