<div class="ui three column stackable grid">
    <div class="row">
        <div id="chart-cpu" class="one wide column">
            <h3 class="ui header center aligned">CPU</h3>
            <nvd3-pie-chart
                id="clusterCpuChart"
                data="clusterCpuData"
                width="450"
                height="450"
                showLabels="true"
                x="showX()"
                y="showY()"
                labelType="percent"
                >
                <svg></svg>
            </nvd3-pie-chart>
        </div>

        <div id="chart-memory" class="one wide column">
            <h3 class="ui header center aligned">Memory</h3>
            <nvd3-pie-chart
                id="clusterMemoryChart"
                data="clusterMemoryData"
                width="450"
                height="450"
                showLabels="true"
                x="showX()"
                y="showY()"
                labelType="percent"
                >
                <svg></svg>
            </nvd3-pie-chart>
        </div>

        <div class="column">
            <h3 class="ui header center aligned">Events</h3>
            <div class="ui feed" ng-repeat="event in events | limitTo: 5">
                <div class="event">
                    <div class="label">
                        <i class="circular icon" ng-class="event.type|eventCssClass"></i>
                    </div>
                    <div class="content">
                      <div class="summary">
                          {{event.time|date:'short'}} <em>{{event.type}} {{event.container.id|truncate}} ({{event.container.image.name}})</em>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
