<div class="ui three column grid">
    <div class="row">
        <div id="chart-cpu" class="one wide column">
            <h3 class="ui header center aligned">CPU</h3>
            <svg></svg>
        </div>

        <div id="chart-memory" class="one wide column">
            <h3 class="ui header center aligned">Memory</h3>
            <svg></svg>
        </div>

        <div class="column">
            <h3 class="ui header center aligned">Events</h3>
            <div class="ui feed" ng-repeat="event in events | limitTo: 5">
                <div class="event">
                    <div class="label">
                          <i class="circular checkmark green icon"></i>
                    </div>
                    <div class="content">
                      <div class="summary">
                          {{event.time|date:'short'}} <em>{{event.type}} {{event.container.id|truncate}} ({{event.container.image.name}})</em>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
