<div class="ui icon buttons toolbar">
    <a href="/#/engines/add" class="ui button mini green">
        <i class="add icon"></i>
        Add
    </a>
</div>

<div class="ui icon message" ng-show="engines.length === 0">
    <i class="info icon"></i>
    <div class="content">
        <div class="header">
            Engines
        </div>
        <p>There are no engines in the cluster.</p>
    </div>
</div>

<table class="ui table segment" ng-show="engines">
    <thead>
        <tr>
            <th><a href="" ng-click="orderByField='engine.id'; reverseSort = !reverseSort">Name</a></th>
            <th><a href="" ng-click="orderByField='engine.cpus'; reverseSort = !reverseSort">CPUs</a></th>
            <th><a href="" ng-click="orderByField='engine.memory'; reverseSort = !reverseSort">Memory</a></th>
            <th><a href="" ng-click="orderByField='engine.addr'; reverseSort = !reverseSort">Addr</a></th>
            <th><a href="" ng-click="orderByField='engine.labels'; reverseSort = !reverseSort">Labels</a></th>
            <th><a href="" ng-click="orderByField='health.status'; reverseSort = !reverseSort">Health</a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="e in engines | orderBy:orderByField:reverseSort">
            <td>
                <a href="/#/engines/{{e.id}}">{{e.engine.id}}</a>
            </td>
            <td>{{e.engine.cpus}}</td>
            <td>{{e.engine.memory}} MB</td>
            <td>{{e.engine.addr}}</td>
            <td>{{e.engine.labels.join(', ')}}</td>
            <td>{{e.health.status}}</td>
        </tr>
    </tbody>
</table>
