<div class="ui basic small modal">
    <div class="header">
        Remove Engine
    </div>
    <div class="content">
        Remove {{engine.engine.id}} from cluster?
    </div>
    <div class="actions">
        <div class="ui button small">Cancel</div>
        <a ng-click="removeEngine()" class="ui button small blue">Ok</a>
    </div>
</div>

<div class="ui icon buttons toolbar">
    <a ng-click="showRemoveEngineDialog()" class="ui button mini red">
        <i class="remove sign icon"></i>
        Remove
    </a>
</div>

<div class="ui small message red" flash-alert="error" ng-show="flash.message" duration="0">
    <i class="close icon"></i>
    {{flash.message}}
</div>
<div class="ui stackable grid three column">
    <div class="ui column">
        <div>
            <h3 class="ui header">Name</h3>
            <div>{{engine.engine.id}}</div>
        </div>
        <div class="ui divider"></div>
        <div>
            <h3 class="ui header">Resources</h3>
            <div>CPU: {{engine.engine.cpus}}</div>
            <div>Memory: {{engine.engine.memory}}</div>
        </div>
        <div class="ui divider"></div>
        <div>
            <h3 class="ui header">Address</h3>
            <div>{{engine.engine.addr}}</div>
        </div>
        <div class="ui divider"></div>
        <div>
            <h3 class="ui header">Docker Version</h3>
            <div>{{engine.docker_version}}</div>
        </div>
        <div class="ui divider"></div>
        <div>
            <h3 class="ui header">Labels</h3>
            <div class="ui blue label" ng-repeat="label in engine.engine.labels">{{label}}</div>
        </div>
    </div>
    <div class="ui column">
        <div id="chart-cpu" class="one wide column">
            <h3 class="ui header center aligned">CPU Usage</h3>
            <div>
                <canvas donutchart data="engineCpuData" options="chartOptions" width="250" height="250"></canvas>
            </div>
        </div>
    </div>
    <div class="ui column">
            <h3 class="ui header center aligned">Memory Usage</h3>
            <div>
                <canvas donutchart data="engineMemoryData" options="chartOptions" width="250" height="250"></canvas>
            </div>
        </div>
    </div>
</div>
