<div class="ui icon message" ng-hide="engines">
    <i class="info icon"></i>
    <div class="content">
        <div class="header">
            Engines
        </div>
        <p>There are no engines in the cluster.</p>
    </div>
</div>

<table class="ui table segment" ng-show="engines">
    <thead>
        <tr>
            <th>ID</th>
            <th>CPUs</th>
            <th>Memory</th>
            <th>Addr</th>
            <th>Labels</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="e in engines">
            <td>
                <a href="/#/engines/{{e.id}}">{{e.engine.id}}</a>
            </td>
            <td>{{e.engine.cpus}}</td>
            <td>{{e.engine.memory}} MB</td>
            <td>{{e.engine.addr}}</td>
            <td>{{e.engine.labels.join(', ')}}</td>
        </tr>
    </tbody>
</table>
