<div class="ui basic small modal purgeEvents">
    <div class="header">
        Purge Events
    </div>
    <div class="content">
        Purge all events?  This is irreversible.
    </div>
    <div class="actions">
        <div class="ui button small">Cancel</div>
        <a ng-click="purgeEvents()" class="ui button small blue">Ok</a>
    </div>
</div>

<div class="ui icon buttons toolbar">
    <a ng-click="showPurgeEventsDialog()" class="ui button mini black">
        <i class="delete icon sign"></i>
        Purge
    </a>
</div>

<div class="ui icon message" ng-show="events.length === 0" ngcloak>
    <i class="info icon"></i>
    <div class="content">
        <div class="header">
            Events
        </div>
        <p>There are no events recorded.</p>
    </div>
</div>

<table class="ui sortable table segment" ng-show="events">
    <thead>
        <tr>
            <th ng-class="sortedTableHeading('time')" ng-click="orderByField='time'; reverseSort = !reverseSort">Time</th>
            <th ng-class="sortedTableHeading('container.id')" ng-click="orderByField='container.id'; reverseSort = !reverseSort">Container</th>
            <th ng-class="sortedTableHeading('engine.id')" ng-click="orderByField='engine.id'; reverseSort = !reverseSort">Engine</th>
            <th ng-class="sortedTableHeading('type')" ng-click="orderByField='type'; reverseSort = !reverseSort">Type</th>
            <th ng-class="sortedTableHeading('tags')" ng-click="orderByField='tags'; reverseSort = !reverseSort">Tags</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="e in events | orderBy:orderByField:reverseSort">
            <td>{{e.time}}</td>
            <td>{{e.container.id|truncate}}</td>
            <td>{{e.engine.id}}</td>
            <td>{{e.type}}</td>
            <td>{{e.tags.join(', ')}}</td>
        </tr>
    </tbody>
</table>
