<div class="ui message green" flash-alert="success">
    <i class="close icon"></i>
    <div class="header">
        {{flash.message}}
    </div>
</div>

<div class="ui message red" flash-alert="error">
    <i class="close icon"></i>
    <div class="header">
        {{flash.message}}
    </div>
</div>

<div class="ui two column relaxed grid">
    <section class="column">
        <div class="ui header">Shipyard</div>
    </section>
    <section class="right aligned column">
        <div class="ui dropdown" ng-show="username">
            {{username}} <i class="dropdown icon"></i>
            <div class="menu">
                <a href="/#/logout" target="_self" class="item">Logout</a>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    $('.ui.dropdown').dropdown('action', 'nothing');
    $('.message .close').on('click', function() {
        $(this).closest('.message').fadeOut();
    });
</script>
