<div class="ui center aligned three column doubling grid">
    <div class="row">
        <div class="computer only column"></div>
        <div class="ui form column segment" ng-submit="login()">
            <div class="ui logo"><img src="/images/logo.png"/></div>
            <div class="field">
                <div class="ui left labeled icon input">
                    <input name="username" placeholder="username" type="text" ng-model="username">
                    <i class="user icon"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui left labeled icon input">
                    <input name="password" placeholder="password" type="password" ng-model="password">
                    <i class="lock icon"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="ui small message red" flash-alert="error" ng-show="flash.message" duration="0">
                {{flash.message}}
            </div>
            <div class="buttons">
                <div class="ui blue submit button">Login</div>
            </div>
        </div>
        <div class="computer only column"></div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.ui.form')
            .form({
                username: {
                    identifier : 'username',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter a username'
                        }
                    ]
                },
                password: {
                    identifier : 'password',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter a password'
                        }
                    ]
                }
            });
    });
</script>
