<div class="row">
    <div class="column">
        <div class="ui segment">
            <div class="ui form" ng-submit="vm.addNode()" ng-method="post">
                <h4 class="ui dividing header">Node Details</h4>
                <label>Name</label>
                <div class="field">
                    <input type="text" name="name" ng-model="vm.name" placeholder="Name of node (i.e. local)">
                </div>
                <label>Engine Address</label>
                <div class="field">
                    <input type="text" name="addr" ng-model="vm.addr" placeholder="Node Addr (i.e. tcp://10.1.2.3:2376)">
                </div>
                <label>TLS CA Certificate</label>
                <div class="field">
                    <textarea ng-model="vm.tls_ca_cert"></textarea>
                </div>
                <label>TLS Server Certificate</label>
                <div class="field">
                    <textarea ng-model="vm.tls_cert"></textarea>
                </div>
                <label>TLS Server Key</label>
                <div class="field">
                    <textarea ng-model="vm.tls_key"></textarea>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui green submit button">Add Node</div>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
    $('.ui.form')
        .form({
            name: {
                identifier : 'name',
                rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a name'
                    }
                ]
            },
            addr: {
                identifier : 'addr',
                rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter an address'
                    }
                ]
            }
        });

    $('.help.circle.icon').popup({inline: true});
    $('select.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
});
</script>
