<div class="ui padded grid">
<div class="two column row">
    <div class="left floated column">
        <div ng-click="vm.refresh()" class="ui small blue labeled icon button">
            <i class="refresh icon"></i> Refresh
        </div>
    </div>
    <div class="right aligned right floated column">
        <div class="ui small icon input">
            <input ng-model="tableFilter" placeholder="Search nodes..." reset-field/>
        </div>
    </div>
</div>

<div class="row" ng-show="vm.error">
    <div class="sixteen wide column">
        <div class="ui error message">
            <div class="header">Error...</div>
            <p>{{vm.error}}</p>
        </div>
    </div>
</div>

<div class="row" ng-show="vm.nodes.length === 0">
    <div class="column">
        <div class="ui icon message">
            <i class="info icon"></i>
            <div class="content">
                <div class="header">
                    Nodes
                </div>
                <p>There are no cluster nodes.</p>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="filteredNodes.length>0">
    <div class="column">
        <table class="ui sortable celled table" ng-show="vm.nodes">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Containers</th>
                    <th>Reserved CPUs</th>
                    <th>Reserved Memory</th>
                    <th>Labels</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in filteredNodes = (vm.nodes | filter:tableFilter)">
                    <td>{{n.name}}</td>
                    <td>{{n.addr}}</td>
                    <td>{{n.containers}}</td>
                    <td>{{n.reserved_cpus}}</td>
                    <td>{{n.reserved_memory}}</td>
                    <td>{{n.labels.join(', ')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" ng-show="vm.nodes.length > 0 && filteredNodes.length === 0">
    <div class="column">
        <div class="ui icon message">
            <i class="info icon"></i>
            <div class="content">
                <div class="header">
                    Nodes
                </div>
                <p>No nodes matched your filter query</p>
            </div>
        </div>
    </div>
</div>
</div>

<script>
$('.ui.sortable.celled.table').tablesort();
</script>
