<div id="remove-modal" class="ui small modal transition">
    <i class="close icon"></i>
    <div class="header">
        Remove Image: {{ vm.selectedImage.Id.substring(0,12) }}
    </div>
    <div class="content">
        <p>Are you sure you want to remove this image?</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div ng-click="vm.removeImage()" class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div id="pull-modal" class="ui small modal transition">
    <i class="close icon"></i>
    <div class="header">
        Pull Image
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" ng-model="vm.pullImageName">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div ng-click="vm.pullImage()" class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div class="ui padded grid">
<div class="two column row" ng-hide="vm.pulling">
    <div class="left floated column">
        <div ng-click="vm.refresh()" class="ui small blue labeled icon button">
            <i class="refresh icon"></i> Refresh
        </div>
        <div ng-click="vm.showPullImageDialog()" class="ui small green labeled icon button">
            <i class="download icon"></i> Pull Image
        </div>
    </div>
    <div class="right aligned right floated column">
        <div class="ui small icon input">
            <input ng-model="tableFilter" placeholder="Search images..." reset-field/>
        </div>
    </div>
</div>

<div class="row" ng-show="vm.pulling" style="text-align: center;">
    <div class="six wide column">
        <div class="ui icon message">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header">
                    Pulling Image: {{vm.pullImageName}}
                </div>
                <p>We're pulling the image to the Swarm cluster now.</p>
                <p>Please note that this could take a few minutes, depending on availability and size of the image.</p>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="vm.error">
    <div class="sixteen wide column">
        <div class="ui error message">
            <div class="header">Error...</div>
            <p>{{vm.error}}</p>
        </div>
    </div>
</div>

<div class="row" ng-show="vm.images.length === 0">
    <div class="column">
        <div class="ui icon message">
            <i class="info icon"></i>
            <div class="content">
                <div class="header">
                    Images
                </div>
                <p>There are no images in the cluster.</p>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="filteredImages.length>0 && !vm.pulling">
    <div class="column">
        <table class="ui sortable celled table">
            <thead>
                <tr>
                    <th>Names</th>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Node</th>
                    <th>Virtual Size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in filteredImages = (vm.images | filter:tableFilter)">
                    <td><div class="ui label" ng-repeat="t in i.RepoTags">{{t}}</div></td>
                    <td>{{i.Id.substring(0,12)}}</td>
                    <td>{{i.Created * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                    <td>{{i.Engine.Name}}</td>
                    <td>{{i.VirtualSize / 1048576 | number:2}} MB</td>
                    <td class="collapsing">
                        <div ng-click="vm.showRemoveImageDialog(i)" class="compact ui icon button red">
                            <i class="trash icon"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" ng-show="vm.images.length > 0 && filteredImages.length === 0">
    <div class="column">
        <div class="ui icon message">
            <i class="info icon"></i>
            <div class="content">
                <div class="header">
                    Images
                </div>
                <p>No images matched your filter query</p>
            </div>
        </div>
    </div>
</div>
</div>

<script>
$('.ui.sortable.celled.table').tablesort();
</script>
