<div>
<div style="background-color: rgba(0, 68, 91, 1); position: absolute; top: 0; left: 0; height: 100%; width: 100%; text-align: center;">
    <div style="max-width: 25rem; margin: 0 auto;">
        <h1 style="margin-top: 100px; margin-bottom: 50px; font-family: 'Poiret One', sans-serif; font-size: 72px; color: #ffffff;">shipyard</h1>
        <div class="ui form" style="background-color: rgba(255, 255, 255, 0.5); padding: 30px; border-radius: 25px;" ng-submit="vm.login()">
            <div class="ui negative icon message" ng-show="vm.error">
                <i class="warning sign icon"></i>
                <div class="content">
                    <div class="header">
                        {{vm.error}}
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui left labeled icon input">
                    <input name="username" placeholder="username" type="text" ng-model="vm.username">
                    <i class="user icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui left labeled icon input">
                    <input name="password" placeholder="password" type="password" ng-model="vm.password">
                    <i class="lock icon"></i>
                </div>
            </div>
            <div class="buttons">
                <div class="ui blue submit button">Login</div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
$(function(){
    $('.ui.form')
        .form({
            username: {
                identifier : 'username',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter a username'
                }
                ]
            },
            password: {
                identifier : 'password',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter a password'
                }
                ]
            }
        });
});
</script>
