{% extends "base.html" %}
{% load i18n %}
{% load shipyard %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Hosts' %}</span>
        <span class="section-toolbar">
        </span>
        <span class="pull-right">
            <a href="{% url 'hosts.views.add_host' %}" class="btn btn-success btn-sm">{% trans 'Add' %}</a>
        </span>
    </div>
    <div class="panel-body">
        {% if hosts %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Hostname' %}</th>
                    <th>{% trans 'Port' %}</th>
                    <th>{% trans 'Enabled' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for h in hosts %}
                <tr>
                    <td>{{h.name}}</td>
                    <td>{{h.hostname}}</td>
                    <td>{{h.port}}</td>
                    <td><span class="label label-{% if h.enabled %}success{% else %}danger{% endif %}">{{h.enabled}}</span></td>
                    <td>
                        <div class="btn-group">
                            <a href="#" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu right">
                                {% if h.enabled %}
                                <li><a href="#" class="disable-host" data-url="{% url 'hosts.views.disable_host' host_id=h.id %}">{% trans 'Disable Host' %}</a></li>
                                {% else %}
                                <li><a href="#" class="enable-host" data-url="{% url 'hosts.views.enable_host' host_id=h.id %}">{% trans 'Enable Host' %}</a></li>
                                {% endif %}
                                <li><a href="#" class="remove-host" data-url="{% url 'hosts.views.remove_host' host_id=h.id %}">{% trans 'Remove Host' %}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-muted">{% trans 'No hosts' %}</div>
        {% endif %}
    </div>
</div>
{% include "hosts/_common.html" %}
<script type="text/javascript">
</script>
{% endblock %}
