<div id="image-create-modal" class="ui fullscreen modal transition">
    <i class="close icon"></i>
    <div class="header">
        Create Image
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="row" ng-hide="vm.deploying">
                <div class="column">
                    <div class="ui error message" ng-show="vm.error">
                        <div class="header">Error...</div>
                        <p>{{vm.error}}</p>
                    </div>
                    <div class="ui form" ng-submit="vm.deploy()">
                        <h5 style="display: inline">Image Configuration&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                        <div class="ui toggle checkbox" ng-click="vm.createImage.skipImageBuild=!vm.createImage.skipImageBuild">
                            <input type="checkbox" name="public" ng-model="vm.createImage.skipImageBuild">
                            <label>Skip Image Building</label>
                        </div>
                        <div class="ui two column grid">
                            <div class="column">

                                <div class="fields">
                                    <div class="four wide field">
                                        <label>Location</label>
                                        <select id="imageLocation" name="location" ng-model="vm.createImage.location" class="ui search fluid dropdown" ng-change="vm.resetValues()">
                                            <option value="">Choose Location</option>
                                            <option value="Shipyard Registry" ng-click="console.log('clicked')">Shipyard Registry</option>
                                            <option value="Public Registry">Public Registry</option>
                                            <!--<option value="File">File</option>-->
                                        </select>
                                    </div>

                                    <div ng-show="!vm.createImage.location" class="field">
                                        <div></div>
                                    </div>
                                    <div ng-show="!vm.createImage.location" class="field">
                                        <div></div>
                                    </div>

                                    <div ng-show="vm.createImage.location === 'Shipyard Registry'" class="four wide field">
                                        <label>Registry </label>
                                        <select name="registry_name" ng-model="vm.createImage.registry" class="ui search fluid dropdown registry">
                                            <option value="">Registry Name</option>
                                            <option ng-repeat="r in vm.registries" value="{{r.name}}">{{r.name}}</option>
                                        </select>
                                    </div>
                                    <div ng-show="vm.createImage.location === 'Shipyard Registry'" class="four wide field">
                                        <label>Image Name </label>
                                        <select name="image" ng-model="vm.createImage.name" class="ui search fluid dropdown image" ng-change="vm.checkImage()">
                                            <option value="">Name</option>
                                            <option ng-repeat="a in vm.images" value="{{a.name}}">{{a.name}}</option>
                                        </select>
                                    </div>
                                    <div ng-show="vm.createImage.location === 'Shipyard Registry'" class="three wide field" >
                                        <label>Tag</label>
                                        <select name="tag" ng-model="vm.createImage.tag" class="ui search fluid dropdown tag" ng-change="vm.checkImage()">
                                            <option value="">Tag</option>
                                            <option ng-repeat="a in vm.images | filter: { name: vm.createImage.name }" value="{{a.tag}}">{{a.tag}}</option>
                                        </select>
                                    </div>

                                    <div ng-show="vm.createImage.location === 'Public Registry'" class="four wide field">
                                        <label>Image Name </label>
                                        <div class="ui search">
                                            <div class="ui icon input">
                                                <input class="prompt" type="text" placeholder="Name" ng-model="vm.createImage.name" />
                                                <i class="search icon"></i>
                                            </div>
                                            <div class="results"></div>
                                        </div>
                                    </div>
                                    <div ng-show="vm.createImage.location === 'Public Registry'" class="four wide field">
                                        <label>Tag</label>
                                        <select name="tag" ng-model="vm.createImage.tag" class="ui search fluid dropdown tag" ng-change="vm.checkImagePublicRepository()">
                                            <option value="">Tag</option>
                                            <option ng-repeat="a in vm.publicRegistryTags" data-value="{{a.name}}">{{a.name}}</option>
                                        </select>
                                    </div>

                                    <div ng-show="vm.createImage.location === 'File'" class="four wide field">
                                        <label>Upload File</label>
                                        <input name="file" type="file" placeholder="Choose a File..."/>
                                    </div>
                                    <div ng-show="vm.createImage.location === 'File'" class="four wide field">
                                        <label>Image Name </label>
                                        <select name="image" ng-model="vm.createImage.name" class="ui search fluid dropdown">
                                            <option value="">Name</option>
                                            <!--<option ng-repeat="a in vm.Images" value="{{a.name}}">{{a.name}}</option>-->
                                        </select>
                                    </div>

                                    <div ng-show="vm.createImage.location" class="one wide field">
                                        <label>&nbsp;</label>
                                        <button class="right floated ui icon button {{vm.buttonStyle}}">
                                            <i class="check icon"></i>
                                        </button>
                                    </div>

                                </div>

                                <div ng-show="!vm.createImage.location" class="field">
                                    <div></div>
                                </div>

                                <div ng-show="vm.createImage.location && vm.createImage.location != 'File'" class="field">
                                    <label>Additional Image Tag</label>
                                    <input ng-show="!vm.createImage.tag" disabled name="additionalTag" class="input" type="text" placeholder="Tags" >
                                    <i ng-show="vm.createImage.location === 'Shipyard Registry' && vm.createImage.tag" class="ui label" ng-repeat="a in vm.images | filter: { name: vm.createImage.name }">
                                        {{a.tag}}
                                    </i>
                                    <i ng-show="vm.createImage.location === 'Public Registry' && vm.createImage.tag" class="ui label" ng-repeat="a in vm.publicRegistryTags | filter: { layer: vm.createImage.tagLayer }">
                                        {{a.name}}
                                    </i>
                                </div>

                                <div ng-show="vm.createImage.location ==='File'" class="two fields">
                                    <div class="field"></div>
                                    <div class="field">
                                        <label>Tag the Image</label>
                                        <input name="tag" type="text" ng-model="vm.createImage.tag" placeholder="Tag name"/>
                                    </div>
                                </div>

                            </div>

                            <div class="column">

                                <div class="field">
                                    <label>Image Description</label>
                                    <input name="description" class="input" type="text" ng-model="vm.createImage.description" placeholder="Add Description" />
                                </div>

                                <div ng-show="vm.createImage.location && vm.createImage.location === 'File'" class="field">
                                    <label>Tags to Apply on Successful Build</label>
                                    <input name="successTags" class="input" type="text" placeholder="Tags" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Cancel
        </div>
        <div ng-click="vm.createSaveImage(vm.createImage)" class="ui positive right labeled icon button {{vm.buttonStyle}}">
            Save Image
            <i class="save icon"></i>
        </div>
    </div>
</div>

<div id="image-edit-modal" class="ui fullscreen modal transition">
    <i class="close icon"></i>
    <div class="header">
        {{ vm.editImage.name }}
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="ui error message" ng-show="vm.error">
                        <div class="header">Error...</div>
                        <p>{{vm.error}}</p>
                    </div>
                    <div class="ui form">
                        <h5 style="display: inline">Image Configuration&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                        <div class="ui toggle checkbox" ng-click="vm.editImage.skipImageBuild=!vm.editImage.skipImageBuild">
                            <input type="checkbox" name="public" ng-model="vm.editImage.skipImageBuild">
                            <label>Skip Image Building</label>
                        </div>
                        <div class="ui two column grid">
                            <div class="column">

                                <div class="fields">
                                    <div class="four wide field">
                                        <label>Location</label>
                                        <div class="ui input">
                                            <input type="text" ng-model="vm.editImage.location" disabled>
                                        </div>
                                    </div>

                                    <div ng-show="!vm.editImage.location" class="field">
                                        <div></div>
                                    </div>
                                    <div ng-show="!vm.editImage.location" class="field">
                                        <div></div>
                                    </div>

                                    <div ng-show="vm.editImage.location === 'Shipyard Registry'" class="four wide field">
                                        <label>Registry </label>
                                        <select name="registry_name" ng-model="vm.editImage.registry" class="ui search fluid dropdown registry">
                                            <option value="">{{vm.editImage.registry}}</option>
                                            <option ng-repeat="r in vm.registries" value="{{r.name}}">{{r.name}}</option>
                                        </select>
                                    </div>
                                    <div ng-show="vm.editImage.location === 'Shipyard Registry'" class="four wide field">
                                        <label>Image Name </label>
                                        <select name="image" ng-model="vm.editImage.name" class="ui search fluid dropdown image" ng-change="vm.checkEditImage()">
                                            <option value="">{{vm.editImage.name}}</option>
                                            <option ng-repeat="a in vm.images" value="{{a.name}}">{{a.name}}</option>
                                        </select>
                                    </div>
                                    <div ng-show="vm.editImage.location === 'Shipyard Registry'" class="three wide field" >
                                        <label>Tag</label>
                                        <select name="tag" ng-model="vm.editImage.tag" class="ui search fluid dropdown tag" ng-change="vm.checkEditImage()">
                                            <option value="">{{vm.editImage.tag}}</option>
                                            <option ng-repeat="a in vm.images | filter: { name: vm.editImage.name }" value="{{a.tag}}">{{a.tag}}</option>
                                        </select>
                                    </div>

                                    <div ng-show="vm.editImage.location === 'Public Registry'" class="four wide field">
                                        <label>Image Name </label>
                                        <div class="ui search edit">
                                            <div class="ui icon input">
                                                <input class="prompt" type="text" placeholder="{{vm.editImage.name}}" ng-model="vm.editImage.name" />
                                                <i class="search icon"></i>
                                            </div>
                                            <div class="results"></div>
                                        </div>
                                    </div>
                                    <div ng-show="vm.editImage.location === 'Public Registry'" class="four wide field">
                                        <label>Tag</label>
                                        <select name="tag" ng-model="vm.editImage.tag" class="ui search fluid dropdown edit tag" ng-change="vm.checkEditImagePublicRepository()">
                                            <option value="">{{vm.editImage.tag}}</option>
                                            <option ng-repeat="a in vm.publicRegistryTags" data-value="{{a.name}}">{{a.name}}</option>
                                        </select>
                                    </div>

                                    <div ng-show="vm.editImage.location === 'File'" class="four wide field">
                                        <label>Upload File</label>
                                        <input name="file" type="file" placeholder="Choose a File..."/>
                                    </div>
                                    <div ng-show="vm.editImage.location === 'File'" class="four wide field">
                                        <label>Image Name </label>
                                        <select name="image" ng-model="vm.editImage.name" class="ui search fluid dropdown">
                                            <option value="">Name</option>
                                            <!--<option ng-repeat="a in vm.Images" value="{{a.name}}">{{a.name}}</option>-->
                                        </select>
                                    </div>

                                    <div ng-show="vm.editImage.location" class="one wide field">
                                        <label>&nbsp;</label>
                                        <button class="right floated ui icon button {{vm.buttonStyle}}">
                                            <i class="check icon"></i>
                                        </button>
                                    </div>

                                </div>

                                <div ng-show="!vm.editImage.location" class="field">
                                    <div></div>
                                </div>

                                <div ng-show="vm.editImage.location && vm.editImage.location != 'File'" class="field">
                                    <label>Additional Image Tag</label>
                                    <input ng-show="!vm.editImage.tag" disabled name="additionalTag" class="input" type="text" placeholder="Tags" >
                                    <i ng-show="vm.editImage.location === 'Shipyard Registry' && vm.editImage.tag" class="ui label" ng-repeat="a in vm.images | filter: { name: vm.editImage.name }">
                                        {{a.tag}}
                                    </i>
                                    <i ng-show="vm.editImage.location === 'Public Registry' && vm.editImage.tag" class="ui label" ng-repeat="a in vm.publicRegistryTags | filter: { layer: vm.editImage.tagLayer }">
                                        {{a.name}}
                                    </i>
                                </div>

                                <div ng-show="vm.editImage.location ==='File'" class="two fields">
                                    <div class="field"></div>
                                    <div class="field">
                                        <label>Tag the Image</label>
                                        <input name="tag" type="text" ng-model="vm.editImage.tag" placeholder="Tag name"/>
                                    </div>
                                </div>

                            </div>

                            <div class="column">

                                <div class="field">
                                    <label>Image Description</label>
                                    <input name="description" class="input" type="text" ng-model="vm.editImage.description" placeholder="{{vm.editImage.description}}" />
                                </div>

                                <div ng-show="vm.editImage.location && vm.editImage.location === 'File'" class="field">
                                    <label>Tags to Apply on Successful Build</label>
                                    <input name="successTags" class="input" type="text" placeholder="Tags" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Cancel
        </div>
        <div  ng-click="vm.editSaveImage()" class="ui positive right labeled icon button {{vm.buttonStyle}}">
            Apply Changes
            <i class="save icon"></i>
        </div>
    </div>
</div>

<div id="test-create-modal" class="ui modal transition">
    <i class="close icon"></i>
    <div class="header">
        Create Test
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="ui error message" ng-show="vm.error">
                        <div class="header">Error...</div>
                        <p>{{vm.error}}</p>
                    </div>
                    <div class="ui form">
                        <h5 style="display: inline">Test Configuration&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                        <div class="ui toggle checkbox" ng-click="vm.createTest.skipTest=!vm.createTest.skipTest">
                            <input type="checkbox" name="public" ng-model="vm.createTest.skipTest">
                            <label>Skip Test</label>
                        </div>
                        <div class="ui one column grid">
                            <div class="column">

                                <div class="three fields">
                                    <div class="field">
                                        <label>From Tag</label>
                                        <input name="tag" class="input" type="text" ng-model="vm.createTest.tag" placeholder="Select Tags" />
                                    </div>

                                    <div class="field">
                                        <label>Tag on Success</label>
                                        <input name="successTag" class="input" type="text" ng-model="vm.createTest.test_success" placeholder="Select Tags" />
                                    </div>

                                    <div class="field">
                                        <label>Tag on Fail</label>
                                        <input name="failTag" class="input" type="text" ng-model="vm.createTest.test_fail" placeholder="Select Tags" />
                                    </div>
                                </div>

                                <div class="ui toggle checkbox" ng-click="vm.createTest.skipTLS=!vm.createTest.skipTLS">
                                    <input type="checkbox" name="public" ng-model="vm.createTest.skipTLS">
                                    <label>Skip TLS</label>
                                </div>

                                <div class="fields">
                                    <div class="four wide field">
                                        <label>Type to Run</label>
                                        <select name="run" ng-model="vm.createTest.type_to_run" class="ui search fluid dropdown">
                                            <option value="">URL</option>
                                            <!--<option value="ShipyardRegistry" ng-click="console.log('clicked')">Shipyard Registry</option>-->
                                            <!--<option value="PublicRegistry">Public Registry</option>-->
                                            <!--&lt;!&ndash;<option value="File">File</option>&ndash;&gt;-->
                                        </select>
                                    </div>

                                    <div class="field">
                                        <label>URL</label>
                                        <input name="url" class="input" type="text" ng-model="vm.createTest.url" placeholder="URL_1" />
                                    </div>

                                    <div class="field">
                                        <label>Username</label>
                                        <input name="username" class="input" type="text" ng-model="vm.createTest.username" placeholder="Select Tags" />
                                    </div>

                                    <div class="field">
                                        <label>Password</label>
                                        <input name="password" class="input" type="password" ng-model="vm.createTest.password" placeholder="Select Tags" />
                                    </div>

                                    <div class="one wide field">
                                        <label>&nbsp;</label>
                                        <button class="right floated ui icon button disabled">
                                            <i class="check icon"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <!--<div class="column">-->

                                <!--<div class="field">-->
                                    <!--<label>Image Description</label>-->
                                    <!--<input name="description" class="input" type="text" ng-model="vm.createImage.description" placeholder="Add Description" />-->
                                <!--</div>-->

                                <!--<div ng-show="vm.createImage.location && vm.createImage.location === 'File'" class="field">-->
                                    <!--<label>Tags to Apply on Successful Build</label>-->
                                    <!--<input name="successTags" class="input" type="text" placeholder="Tags" />-->
                                <!--</div>-->
                            <!--</div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Cancel
        </div>
        <div ng-click="vm.createSaveTest(vm.createTest)" class="ui positive right labeled icon button">
            Save Test
            <i class="save icon"></i>
        </div>
    </div>
</div>

<div class="ui padded grid">
    <div class="row">
        <div class="column">
            <div class="ui segment page">
                <div class="ui grid">
                    <div class="two column row">
                        <div class="column">
                            <h3 class="ui header">
                                <div class="content">
                                    Create Project
                                </div>
                            </h3>
                        </div>
                    </div>
                    <div class="ui padded grid">
                        <div class="ui form">
                            <div class="ui column grid">
                                <div class="column">
                                    <h5 class="ui dividing header">Project Configuration</h5>

                                    <div class="four fields">
                                        <div class="field">
                                            <label>Project Name</label>
                                            <input name="hostname" class="input" type="text" ng-model="vm.project.name" placeholder="Project name..."></input>
                                        </div>
                                        <div class="field">
                                            <label>Author</label>
                                            <input disabled name="domainname" class="input" type="text" ng-model="vm.project.author" placeholder="Author"></input>
                                        </div>
                                    </div>

                                    <div class="two fields">
                                        <div class="field">
                                            <label>Project Description</label>
                                            <input name="command" class="input" type="text" ng-model="vm.project.description" placeholder="Description..."></input>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded grid">
                        <div class="row">
                            <div class="left floated column">
                                <div ng-click="vm.showImageCreateDialog()" class="ui small green labeled icon button">
                                    <i class="plus icon"></i>Add Image
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <h4 class="ui dividing header">Images Details</h4>
                                <div class="field">
                                    <div class="item">
                                        <div class="ui toggle checkbox" ng-click="vm.skipImages=!vm.skipImages">
                                            <input type="checkbox" name="public" ng-model="vm.skipImages">
                                            <label>Skip images</label>
                                        </div>
                                    </div>
                                </div>
                                <table class="ui sortable celled table">
                                    <thead>
                                    <tr>
                                        <th class="collapsing">Build</th>
                                        <th>Image ID</th>
                                        <th>Image Name</th>
                                        <th>Tag</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="image in vm.project.images" jquery>
                                        <td class="collapsing">
                                            <div class="positive ui fitted checkbox">
                                                <input type="checkbox" id="{{$index}}-cb" ng-model="vm.selected[image.id].Selected">
                                                <label for="{{$index}}-cb"></label>
                                            </div>
                                        </td>
                                        <td>{{image.id}}</td>
                                        <td>{{image.name}}</td>
                                        <td>{{image.tag}}</td>
                                        <td>{{image.description}}</td>
                                        <td class="collapsing">
                                            <div ng-click="vm.showImageEditDialog(image)" class="basic compact blue ui icon button">
                                                <i class="pencil icon"></i>
                                            </div>
                                            <div ng-click="vm.deleteImage(image)" class="basic compact blue ui icon button">
                                                <i class="trash icon"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ui padded grid">
                        <div class="row">
                            <div class="left floated column">
                                <div ng-click="vm.showTestCreateDialog()" class="ui small green labeled icon button">
                                    <i class="plus icon"></i>Add Test
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <h4 class="ui dividing header">Tests Details</h4>
                                <div class="item">
                                    <div class="ui toggle checkbox" ng-click="vm.skipTests=!vm.skipTests">
                                        <input type="checkbox" name="public" ng-model="vm.skipTests">
                                        <label>Skip Tests</label>
                                    </div>
                                </div>
                                <table class="ui sortable celled table">
                                    <thead>
                                    <tr>
                                        <th class="collapsing">Run</th>
                                        <th>Test ID</th>
                                        <th>Test Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="test in vm.project.tests" jquery>
                                        <td class="collapsing">
                                            <div class="positive ui fitted checkbox">
                                                <input type="checkbox" id="{{$index}}-cb" ng-model="vm.selected[test.id].Selected">
                                                <label for="{{$index}}-cb"></label>
                                            </div>
                                        </td>
                                        <td>{{test.id}}</td>
                                        <td>{{test.name}}</td>
                                        <td>{{test.description}}</td>
                                        <td class="collapsing">
                                            <div ng-click="" class="basic compact blue ui icon button">
                                                <i class="pencil icon"></i>
                                            </div>
                                            <div ng-click="" class="basic compact blue ui icon button">
                                                <i class="trash icon"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ui padded grid">
                        <div class="row">
                            <div class="column">
                                <div ng-click='vm.saveProject(vm.project)' class="ui small gray button">
                                    Save Project
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('.ui.dropdown').dropdown();
    });

    /*$('#image-create-modal').on('hidden', function(){
        $('#image-create-modal').find("select").val("");
    });*/
</script>