<div id="image-create-modal" class="ui fullscreen modal transition">
    <i class="close icon"></i>
    <div class="header">
        Create Image
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="row" ng-hide="vm.deploying">
                <div class="column">
                    <div class="ui error message" ng-show="vm.error">
                        <div class="header">Error...</div>
                        <p>{{vm.error}}</p>
                    </div>
                    <div class="ui form" ng-submit="vm.deploy()">
                        <div class="ui two column grid">
                            <div class="column">
                                <div class="ui horizontal segment">
                                    <h5 class="ui dividing header">Image Configuration</h5>
                                    <div class="ui toggle checkbox" ng-click="vm.createImage.skipImageBuild=!vm.createImage.skipImageBuild">
                                        <input type="checkbox" name="public" ng-model="vm.createImage.skipImageBuild">
                                        <label>Skip Image Building</label>
                                    </div>

                                    <div class="three fields">
                                        <div class="field">
                                            <label>Location</label>
                                            <select name="location" ng-model="vm.createImage.location" class="ui fluid dropdown" ng-click="vm.getImages()">
                                                <option value="">Choose Location</option>
                                                <option value="ShipyardRegistry" ng-click="vm.getImages()">Shipyard Registry</option>
                                                <option value="PublicRegistry">Public Registry</option>
                                                <option value="File">File</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Image Name</label>
                                            <select ng-model="vm.createImage.name" class="ui search fluid dropdown">
                                                <option class="default text" value="">Name</option>
                                                <option ng-repeat="a in vm.Images" value="{{a.name}}">{{a.name}}</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Tag</label>
                                            <select ng-model="vm.createImage.tag" class="ui search fluid dropdown">
                                                <option value="">Tag</option>
                                                <option ng-repeat="a in vm.Images" value="{{a.tag}}">{{a.tag}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>Additional Image Tag</label>
                                        <input name="additionalTag" class="input" type="text" ng-model="vm.createImage.additionalTag" placeholder="Tags" />
                                    </div>

                                </div>
                            </div>

                            <div class="column">
                                <div class="ui horizontal segment">

                                    <div class="field">
                                        <label>Image Description</label>
                                        <input name="description" class="input" type="text" ng-model="vm.createImage.description" placeholder="Add Description" />
                                    </div>

                                    <div class="field">
                                        <label>Tags to Apply on Successful Build</label>
                                        <input name="successTags" class="input" type="text" placeholder="Tags" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Cancel
        </div>
        <div ng-click="vm.createSaveImage(vm.createImage)" class="ui positive right labeled icon button">
            Save Image
            <i class="save icon"></i>
        </div>
    </div>
</div>

<div id="image-edit-modal" class="ui fullscreen modal transition">
    <i class="close icon"></i>
    <div class="header">
        {{ vm.editImage.name }}
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="row" ng-hide="vm.deploying">
                <div class="column">
                    <div class="ui error message" ng-show="vm.error">
                        <div class="header">Error...</div>
                        <p>{{vm.error}}</p>
                    </div>
                    <div class="ui form" ng-submit="vm.deploy()">
                        <div class="ui two column grid">
                            <div class="column">
                                <div class="ui horizontal segment">
                                    <h5 class="ui dividing header">Image Configuration</h5>
                                    <div class="eight wide field">
                                        <div class="ui toggle checkbox" ng-click="vm.editImage.skipImageBuild=!vm.editImage.skipImageBuild">
                                            <input type="checkbox" name="public" ng-model="vm.editImage.skipImageBuild">
                                            <label>Skip Image Building</label>
                                        </div>
                                    </div>

                                    <div class="three fields">
                                        <div class="field">
                                            <label>Location</label>
                                            <select name="location" ng-model="vm.editImage.location" class="ui fluid dropdown" ng-click="vm.getImages()">
                                                <option value="">Choose Location</option>
                                                <option value="ShipyardRegistry" ng-click="vm.getImages()">Shipyard Registry</option>
                                                <option value="PublicRegistry">Public Registry</option>
                                                <option value="File">File</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Image Name</label>
                                            <select ng-model="vm.editImage.name" class="ui search fluid dropdown">
                                                <option class="default text" value="">Name</option>
                                                <option ng-repeat="a in vm.Images" value="{{a.name}}">{{a.name}}</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Tag</label>
                                            <select ng-model="vm.editImage.tag" class="ui search fluid dropdown">
                                                <option value="">Tag</option>
                                                <option ng-repeat="a in vm.Images" value="{{a.tag}}">{{a.tag}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>Additional Image Tag</label>
                                        <input name="additionalTag" class="input" type="text" ng-model="vm.editImage.additionalTag" placeholder="Tags" />
                                    </div>

                                </div>
                            </div>

                            <div class="column">
                                <div class="ui horizontal segment">

                                    <div class="field">
                                        <label>Image Description</label>
                                        <input name="description" class="input" type="text" ng-model="vm.editImage.description" placeholder="Add Description" />
                                    </div>

                                    <div class="field">
                                        <label>Tags to Apply on Successful Build</label>
                                        <input name="successTags" class="input" type="text" placeholder="Tags" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Cancel
        </div>
        <div ng-click="vm.editSaveImage()" class="ui positive right labeled icon button">
            Save Image
            <i class="save icon"></i>
        </div>
    </div>
</div>



<div class="ui padded grid">
    <div class="row">
        <div class="column">
            <div class="ui segment page">
                <div class="ui grid">
                    <div class="two column row">
                        <div class="column">
                            <h3 class="ui header">
                                <div class="content">
                                    Create Project
                                </div>
                            </h3>
                        </div>
                    </div>
                    <div class="ui padded grid">
                        <div class="ui form">
                            <div class="ui column grid">
                                <div class="column">
                                    <h5 class="ui dividing header">Project Configuration</h5>

                                    <div class="four fields">
                                        <div class="field">
                                            <label>Project Name</label>
                                            <input name="hostname" class="input" type="text" ng-model="vm.project.name" placeholder="Project name..."></input>
                                        </div>
                                        <div class="field">
                                            <label>Author</label>
                                            <input disabled name="domainname" class="input" type="text" ng-model="vm.project.author" placeholder="Author"></input>
                                        </div>
                                    </div>

                                    <div class="two fields">
                                        <div class="field">
                                            <label>Project Description</label>
                                            <input name="command" class="input" type="text" ng-model="vm.project.description" placeholder="Description..."></input>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded grid">
                        <div class="row">
                            <div class="left floated column">
                                <div ng-click="vm.showImageCreateDialog()" class="ui small green labeled icon button">
                                    <i class="plus icon"></i>Add Image
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <h4 class="ui dividing header">Images Details</h4>
                                <div class="field">
                                    <div class="item">
                                        <div class="ui toggle checkbox" ng-click="vm.skipImages=!vm.skipImages">
                                            <input type="checkbox" name="public" ng-model="vm.skipImages">
                                            <label>Skip images</label>
                                        </div>
                                    </div>
                                </div>
                                <table class="ui sortable celled table">
                                    <thead>
                                    <tr>
                                        <th class="collapsing">Build</th>
                                        <th>Image ID</th>
                                        <th>Image Name</th>
                                        <th>Tag</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="image in vm.project.images" jquery>
                                        <td class="collapsing">
                                            <div class="positive ui fitted checkbox">
                                                <input type="checkbox" id="{{$index}}-cb" ng-model="vm.selected[image.id].Selected">
                                                <label for="{{$index}}-cb"></label>
                                            </div>
                                        </td>
                                        <td>{{image.id}}</td>
                                        <td>{{image.name}}</td>
                                        <td>{{image.tag}}</td>
                                        <td>{{image.description}}</td>
                                        <td class="collapsing">
                                            <div ng-click="vm.showImageEditDialog(image)" class="basic compact blue ui icon button">
                                                <i class="pencil icon"></i>
                                            </div>
                                            <div ng-click="vm.deleteImage(image)" class="basic compact blue ui icon button">
                                                <i class="trash icon"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ui padded grid">
                        <div class="row">
                            <div class="left floated column">
                                <div ui-sref="dashboard.addTest" class="ui small green labeled icon button">
                                    <i class="plus icon"></i>Add Test
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <h4 class="ui dividing header">Tests Details</h4>
                                <div class="item">
                                    <div class="ui toggle checkbox" ng-click="vm.skipTests=!vm.skipTests">
                                        <input type="checkbox" name="public" ng-model="vm.skipTests">
                                        <label>Skip Tests</label>
                                    </div>
                                </div>
                                <table class="ui sortable celled table">
                                    <thead>
                                    <tr>
                                        <th class="collapsing">Run</th>
                                        <th>Test ID</th>
                                        <th>Test Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ui padded grid">
                        <div class="row">
                            <div class="column">
                                <div ng-click='vm.saveProject(vm.project)' class="ui small gray button">
                                    Save Project
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

