<div id="image-edit-modal" class="ui fullscreen modal transition">
    <i class="close icon"></i>
    <div class="header">
        Create Image
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="row" ng-hide="vm.deploying">
                <div class="column">
                    <div class="ui error message" ng-show="vm.error">
                        <div class="header">Error...</div>
                        <p>{{vm.error}}</p>
                    </div>
                    <div class="ui form" ng-submit="vm.deploy()">
                        <div class="ui two column grid">
                            <div class="column">
                                <div class="ui horizontal segment">
                                    <h5 class="ui dividing header">Image Configuration</h5>
                                    <div class="eight wide field">
                                        <div class="ui toggle checkbox" ng-click="vm.editSkipImageBuilding=!vm.editSkipImageBuilding">
                                            <input type="checkbox" name="public" ng-model="vm.editSkipImageBuilding">
                                            <label>Skip Image Building</label>
                                        </div>
                                    </div>

                                    <div class="three fields">
                                        <div class="field">
                                            <label>Image ID</label>
                                            <input name="hostname" class="input" type="text" ng-model="vm.request.Hostname" placeholder="ID"></input>
                                        </div>
                                        <div class="field">
                                            <label>Image Name</label>
                                            <input name="domainname" class="input" type="text" ng-model="vm.request.Domainname" placeholder="Name"></input>
                                        </div>
                                        <div class="field">
                                            <label>Tag Name</label>
                                            <input name="domainname" class="input" type="text" ng-model="vm.request.Domainname" placeholder="Tag"></input>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>Image Description</label>
                                        <input name="command" class="input" type="text" ng-model="vm.cmd" placeholder="Description"></input>
                                    </div>

                                </div>
                            </div>

                            <div class="column">
                                <div class="ui horizontal segment">
                                    <h5 class="ui dividing header">Image Links</h5>

                                    <div class="field">
                                        <div class="three fields">
                                            <select class="ui selection dropdown" default="0">
                                                <option value="registry">Registry</option>
                                                <option value="url">URL</option>
                                            </select>
                                            <div class="ui toggle checkbox" ng-click="vm.editSkipTLS=!vm.editSkipTLS">
                                                <input type="checkbox" name="public" ng-model="vm.editSkipTLS">
                                                <label>Skip TLS</label>
                                            </div>
                                            <button class="right floated ui icon button disabled">
                                                <i class="check icon"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="three fields">
                                        <div class="field">
                                            <label>URL</label>
                                            <input name="hostname" class="input" type="text" ng-model="vm.registry.url" placeholder=""></input>
                                        </div>
                                        <div class="field">
                                            <label>User Name</label>
                                            <input name="domainname" class="input" type="text" ng-model="vm.registry.username" placeholder=""></input>
                                        </div>
                                        <div class="field">
                                            <label>Password</label>
                                            <input name="domainname" class="input" type="text" ng-model="vm.registry.password" placeholder=""></input>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>Tag Management</label>
                                        <input name="command" class="input" type="text" ng-model="vm.image.tags" placeholder="Select Tags"></input>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Cancel
        </div>
        <div ng-click="vm.saveImage()" class="ui positive right labeled icon button">
            Save Image
            <i class="save icon"></i>
        </div>
    </div>
</div>

<div class="ui padded grid">
    <div class="row">
        <div class="column">
            <div class="ui segment page">
                <div class="ui grid">
                    <div class="two column row">
                        <div class="column">
                            <h3 class="ui header">
                                <div class="content">
                                    Create Project
                                </div>
                            </h3>
                        </div>
                    </div>
                    <div class="ui padded grid">
                        <!--<div class=" two column row">-->
                            <!--<div class="left floated column">-->
                                <!--<div class="ui corner labeled input">-->
                                    <!--<input name="project" class="input" type="text" ng-model="vm.request.Project" placeholder="Add Name"></input>-->
                                <!--</div>-->
                                <!--<div class="ui input">-->
                                    <!--<input name="description" class="input" type="text" ng-model="vm.description" placeholder="Add Descrition..."></input>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="ui form">
                            <div class="ui column grid">
                                <div class="column">
                                    <h5 class="ui dividing header">Project Configuration</h5>

                                    <div class="three fields">
                                        <div class="field">
                                            <label>Project Name</label>
                                            <input name="hostname" class="input" type="text" ng-model="vm.project.name" placeholder="Project name..."></input>
                                        </div>
                                        <div class="field disabled">
                                            <label>Author</label>
                                            <input disabled name="domainname" class="input" type="text" ng-model="vm.project.author" placeholder="Author"></input>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>Project Description</label>
                                        <input name="command" class="input" type="text" ng-model="vm.project.description" placeholder="Description..."></input>
                                    </div>

                                    <h5 class="ui dividing header"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded grid">
                        <div class="row">
                            <div class="left floated column">
                                <div ng-click="vm.showImageCreateDialog()" class="ui small green labeled icon button">
                                    <i class="plus icon"></i>Add New Image
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <h4 class="ui dividing header">Images Details</h4>
                                <div class="item">
                                    <div class="ui toggle checkbox" ng-click="vm.skipImages=!vm.skipImages">
                                        <input type="checkbox" name="public" ng-model="vm.skipImages">
                                        <label>Skip images</label>
                                    </div>
                                </div>
                                <table class="ui sortable celled table">
                                    <thead>
                                    <tr>
                                        <th class="collapsing">Build</th>
                                        <th>ID</th>
                                        <th>Image Name</th>
                                        <th>Tag</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-class="{'active': vm.selected[vm.project.image_list[image]].Selected}" ng-repeat="image in vm.imageList()" jquery>
                                        <td class="collapsing">
                                            <div class="positive ui fitted checkbox">
                                                <input type="checkbox" id="{{$index}}-cb" ng-model="vm.selected[vm.project.image_list[image]].Selected">
                                                <label for="{{$index}}-cb"></label>
                                            </div>
                                        </td>
                                        <td>{{vm.project.image_list[image]}}</td>
                                        <td>{{image.split(":")[0]}}</td>
                                        <td>{{( (image.split(":").length === 2) ? image.split(":")[1] : "N/A" )}}</td>
                                        <td>{{image.split(":")[2]}}</td>
                                        <td class="collapsing">
                                            <div ng-click="vm.showScaleContainerDialog(image)" class="basic compact blue ui icon button">
                                                <i class="pencil icon"></i>
                                            </div>
                                            <div class="basic compact blue ui icon button">
                                                <i class="trash icon"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ui padded grid">
                        <div class="row">
                            <div class="left floated column">
                                <div ui-sref="dashboard.addTest" class="ui small green labeled icon button">
                                    <i class="plus icon"></i>Add Test
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <h4 class="ui dividing header">Tests Details</h4>
                                <div class="item">
                                    <div class="ui toggle checkbox" ng-click="vm.skipTests=!vm.skipTests">
                                        <input type="checkbox" name="public" ng-model="vm.skipTests">
                                        <label>Skip Tests</label>
                                    </div>
                                </div>
                                <table class="ui sortable celled table">
                                    <thead>
                                    <tr>
                                        <th class="collapsing">Run</th>
                                        <th>ID</th>
                                        <th>Test Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-class="" ng-repeat="">
                                        <td class="collapsing">
                                            <div class="positive ui fitted checkbox">
                                                <input type="checkbox" id="{{$index}}-cb" ng-model="">
                                                <label for="{{$index}}-cb"></label>
                                            </div>
                                        </td>
                                        <td class="collapsing"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="collapsing">
                                            <div class="basic compact blue ui icon button">
                                                <i class="pencil icon"></i>
                                            </div>
                                            <div class="basic compact blue ui icon button">
                                                <i class="trash icon"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ui padded grid">
                        <div class="row">
                            <div class="left floated column">
                                <div ui-sref="dashboard.addRepository" class="ui small green labeled icon button">
                                    <i class="plus icon"></i>Add Repository
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <h4 class="ui dividing header">Repositories List Configuration</h4>
                                <table class="ui sortable celled table">
                                    <thead>
                                    <tr>
                                        <th class="collapsing">Int./Ext.</th>
                                        <th>ID</th>
                                        <th>Repository Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-class="" ng-repeat="">
                                        <td class="collapsing">
                                            <div class="positive ui fitted checkbox">
                                                <input type="checkbox" id="{{$index}}-cb" ng-model="">
                                                <label for="{{$index}}-cb"></label>
                                            </div>
                                        </td>
                                        <td class="collapsing"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="collapsing">
                                            <div class="basic compact blue ui icon button">
                                                <i class="pencil icon"></i>
                                            </div>
                                            <div class="basic compact blue ui icon button">
                                                <i class="trash icon"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ui padded grid">
                        <div class="row">
                            <div class="column">
                                <div ng-click='vm.saveProject(vm.project)' class="ui small gray button">
                                    Save Project
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
