{% load i18n %}
{% load crispy_forms_tags %}
{% load shipyard %}

<div id="dialog-container-info" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Info' %}</h3>
  </div>
  <div class="modal-body">
    <form id="form-container-info" action="{% url 'containers.views.container_info' %}" method="post">
      {% csrf_token %}
      <input type="hidden" id="container-info-container-id" name="container-id" value=""/>
      <input class="span3" id="container-info-description" name="description" type="text" placeholder="{% trans 'description' %}" autofocus="true">
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" id="btn-save-container-info" class="btn btn-primary btn-large">{% trans 'Save' %}</a>
    <a href="#" class="btn btn-large" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</a>
  </div>
</div>

<div id="dialog-container-logs" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Logs' %}</h3>
  </div>
  <div class="modal-body">
    <div id="container-logs"></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-large" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</a>
  </div>
</div>

<div class="pull-right">
<select id="visible-containers">
    <option value="running">{% trans 'Running' %}</option>
    <option value="all" {% if show_all %}selected="true"{% endif %}>{% trans 'Show All' %}</option>
</select>
</div>

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-containers" data-toggle="tab">{% trans 'Containers' %}</a></li>
        <li><a href="#tab-images" data-toggle="tab">{% trans 'Images' %}</a></li>
        <li><a href="#tab-hosts" data-toggle="tab">{% trans 'Hosts' %}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-containers">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{% trans 'ID' %}</th>
                        <th>{% trans 'Description' %}</th>
                        <th>{% trans 'Image' %}</th>
                        <th>{% trans 'Command' %}</th>
                        <th>{% trans 'Ports' %}</th>
                        <th>{% trans 'Memory Limit' %}</th>
                        <th>{% trans 'Host' %}</th>
                        <th>{% trans 'Uptime' %}</th>
                        <th>{% trans 'Actions' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in containers %}
                    <tr>
                        <td><a href="#" class="container-info" data-container-id="{{c.container_id}}">{{c.get_meta.ID|slice:":12"}}</a></td>
                        <td>{{c.description}}</td>
                        <td>{{c.get_meta.Config.Image}}</td>
                        <td>{{c.get_meta.Config.Cmd|join:" "}}</td>
                        <td>{{c.get_ports|container_port_links:c.host.name|safe}}</td>
                        <td>{{c.get_meta.Config.Memory|container_memory_to_mb}}</td>
                        <td>{{c.host.name}}</td>
                        <td>{{c.get_meta.State.StartedAt|container_uptime}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="icon-cog"></i>
                                    <span class="caret"></span>
                                </a>
                                {% comment %} HACK: this is to prevent hiding from the ajax loaded div.  This must be set to however
                                many context menu items there are.  I suck at css.{% endcomment %}
                                <ul class="dropdown-menu {% if forloop.counter > 4 %}bottom-up {% endif %}right">
                                    <li><a href="#" class="container-logs" data-container-id="{{c.container_id}}" data-url="{% url 'containers.get_logs' host=c.host.name container_id=c.get_meta.ID %}">{% trans 'Get Logs' %}</a></li>
                                    <li><a class="attach-container" target="_blank" href="{% url 'containers.attach_container' host=c.host.name container_id=c.get_meta.ID %}">{% trans 'Attach' %}</a></li>
                                    <li><a href="#" class="restart-container" data-url="{% url 'containers.restart_container' host=c.host.name container_id=c.get_meta.ID %}">{% trans 'Restart' %}</a></li>
                                    <li><a href="#" class="stop-container" data-url="{% url 'containers.stop_container' host=c.host.name container_id=c.get_meta.ID %}">{% trans 'Stop' %}</a></li>
                                    <li><a href="#" class="destroy-container" data-url="{% url 'containers.destroy_container' host=c.host.name container_id=c.get_meta.ID %}">{% trans 'Destroy' %}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10">{% trans 'No containers' %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab-images">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{% trans 'ID' %}</th>
                        <th>{% trans 'Repository' %}</th>
                        <th>{% trans 'Tag' %}</th>
                        <th>{% trans 'Host' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in hosts %}
                    {% for i in h.get_images %}
                    <tr>
                        <td>{{i.Id|slice:":12"}}</td>
                        <td>{{i.Repository}}</td>
                        <td>{{i.Tag}}</td>
                        <td>{{h.name}}</td>
                        <td>
                            <a href="#" rel="tooltip" class="remove-image" data-url="{% url 'containers.remove_image' host_id=h.id image_id=i.Id %}" title="{% trans 'Remove Image' %}"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% empty %}
                    <tr>
                        <td colspan="5">{% trans 'No images' %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab-hosts">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Hostname' %}</th>
                        <th>{% trans 'Port' %}</th>
                        <th>{% trans 'Enabled' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in hosts %}
                    <tr>
                        <td>{{h.name}}</td>
                        <td>{{h.hostname}}</td>
                        <td>{{h.port}}</td>
                        <td>{{h.enabled}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">{% trans 'No hosts' %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function resizeContent() {
        var tht = $("div.tab-content table").height();
        var ht = $("div.tab-content").height(tht+150);
    }
    $(function(){
        $("a[rel=tooltip]").tooltip();
        // hack: to prevent hiding the overflow of the dropdown menu, resize
        // the parent container to add room.  i suck as css.
        //var ht = $("div.tab-content").height();
        //$("div.tab-content").height(ht+125);
    });
    $('a[data-toggle="tab"]').on('shown', function (e) {
    });
    $("select#visible-containers").change(function(){
        var showAll = false;
        if ($("select#visible-containers").val() == 'all') {
            showAll = true;
        }
        loadContainers(showAll);
    });
    $("a.container-logs").click(function(){
        var id = this.getAttribute('data-container-id');
        var url = this.getAttribute('data-url');
        $.get(url, function(data){
            $("#container-logs").html(data);
            $("#dialog-container-logs").modal('toggle');
            return false;
        });
    });
    $("a.container-info").click(function(){
        var id = this.getAttribute('data-container-id');
        $.getJSON("{% url 'containers.views.container_info' %}" + id + '/', function(data){
            $("#container-info-description").val(data.fields.description);
            $("#container-info-container-id").val(id);
            $("#dialog-container-info").modal('toggle');
        });
    });
    $("#btn-save-container-info").click(function(){
        $("#form-container-info").submit();
        return false;
    });
    $("a.restart-container").click(function(){
        if (confirm("{% trans 'Are you sure you want to restart the container?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
    $("a.stop-container").click(function(){
        if (confirm("{% trans 'Are you sure you want to stop the container?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
    $("a.destroy-container").click(function(){
        if (confirm("{% trans 'Are you sure you want to destroy the container?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
    $("a.remove-image").click(function(){
        if (confirm("{% trans 'Are you sure you want to remove the image?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
    $('a[data-toggle="tab"]').on('shown', function (e) {
        console.log($(e.target).attr('href'));
        var tab = $(e.target).attr('href');
        if (tab == '#tab-containers') {
            $("select#visible-containers").removeClass('hide');
        } else {
            $("select#visible-containers").addClass('hide');
        }
        return false;
    });
</script>
