{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} :: dashboard{% endblock %}

{% block main_content %}
<div id="dialog-add-host" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Add Host' %}</h3>
  </div>
  <div class="modal-body">
    {% crispy form_add_host form_add_host.helper %}
  </div>
  <div class="modal-footer">
    <a href="#" id="btn-add-host" class="btn btn-primary btn-large">{% trans 'Add' %}</a>
    <a href="#" class="btn btn-large" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</a>
  </div>
</div>
<div id="dialog-create-container" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Create Container' %}</h3>
  </div>
  <div class="modal-body">
    {% crispy form_create_container form_create_container.helper %}
  </div>
  <div class="modal-footer">
    <a href="#" id="btn-create-container" class="btn btn-primary btn-large">{% trans 'Create' %}</a>
    <a href="#" class="btn btn-large" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</a>
  </div>
</div>
<div id="dialog-import-repository" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Import Image' %}</h3>
  </div>
  <div class="modal-body">
    {% crispy form_import_repository form_import_repository.helper %}
  </div>
  <div class="modal-footer">
    <a href="#" id="btn-import-repository" class="btn btn-primary btn-large">{% trans 'Import' %}</a>
    <a href="#" class="btn btn-large" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</a>
  </div>
</div>
<div id="dialog-search-repository" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Search' %}</h3>
  </div>
  <div class="modal-body">
    <form id="form-search-repository" class="form-search">
      <div class="input-append">
        <input class="span3 search-query" id="search-repository-query" type="text" placeholder="{% trans 'query (i.e. logstash)' %}" autofocus="true">
        <a href="#" id="btn-search-repository" class="btn"><i class="icon-search"></i></a>
      </div>
    </form>
    <div id="search-repository-results"></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-large" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</a>
  </div>
</div>
<div id="dialog-build-image" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Build' %}</h3>
  </div>
  <div class="modal-body">
    {% crispy form_build_image form_build_image.helper %}
  </div>
  <div class="modal-footer">
    <a href="#" id="btn-build-image" class="btn btn-primary btn-large">{% trans 'Build' %}</a>
    <a href="#" class="btn btn-large" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</a>
  </div>
</div>

<script type="text/javascript">
</script>
{% endblock %}
