<div class="ui padded grid">
<div class="row" ng-show="vm.error">
    <div class="column">
        <div class="ui error message">
            <div class="header">Error...</div>
            <p>{{vm.error}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="ui segment">
            <div class="ui form" ng-submit="vm.addRegistry()" ng-method="post">
                <h4 class="ui dividing header">Registry Details</h4>
                <label>Name</label>
                <div class="field">
                    <input type="text" name="name" ng-model="vm.name" placeholder="Name of registry (i.e. local)">
                </div>
                <label>Registry Address</label>
                <div class="field">
                    <input type="text" name="addr" ng-model="vm.addr" placeholder="Registry Addr (i.e. http://10.1.2.3:5000)">
                </div>
                <label>Username</label>
                <div class="field">
                    <input type="text" name="username" ng-model="vm.username" placeholder="Username">
                </div>
                <label>Password</label>
                <div class="field">
                    <input type="password" name="password" ng-model="vm.password" placeholder="Password">
                </div>
                <div class="field">
                    <div class="ui checkbox" ng-click="vm.tls.tlsSkipVerify=!vm.tls.tlsSkipVerify">
                      <input type="checkbox" ng-model="vm.tls.tlsSkipVerify">
                      <label>TLS Skip Verify</label>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui green submit button">Add Registry</div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
$(function(){
    $('.ui.form')
        .form({
            name: {
                identifier : 'name',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter a name'
                }
                ]
            },
            addr: {
                identifier : 'addr',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter an address'
                }
                ]
            }
        });

    $('.ui.checkbox').checkbox();
});
</script>
