<div class="ui small remove modal transition" style="margin-top: -98px;">
<i class="close icon"></i>
<div class="header">
    Remove Repository: {{ vm.selectedRepository.namespace }}/{{ vm.selectedRepository.repository }}
</div>
<div class="content">
    <p>Are you sure you want to remove this repository?</p>
</div>
<div class="actions">
    <div class="ui negative button">
        No
    </div>
    <div ng-click="vm.removeRepository()" class="ui positive right labeled icon button">
        Yes
        <i class="checkmark icon"></i>
    </div>
</div>
</div>

<div class="ui padded grid">
    <div class="two column row">
        <div class="left floated column">
            <div ng-click="vm.refresh()" class="ui small blue labeled icon button">
                <i class="refresh icon"></i> Refresh 
            </div>
        </div>
    
        <div class="right aligned right floated column">
            <div class="ui small icon input">
                <input ng-model="tableFilter" placeholder="Search repositories..."/>
                <i class="search icon"></i>
            </div>
        </div>
    </div>
    
    <div class="row" ng-show="vm.repositories.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        Repositories
                    </div>
                    <p>There are no repositories in the registry.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" ng-hide="vm.repositories.length === 0">
    <div class="column">
    <table class="ui sortable celled table">
        <thead ng-hide="">
            <tr>
                <th>Repository/Name</th>
                <th>Tags</th>
                <th>Layers</th>
				<th>Architecture</th>
                <th>Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in vm.repositories | filter:tableFilter">
                <td>{{r.name}}</td>
                <td>{{r.tag}}</td>
                <td>{{r.fsLayers.length}}</td>
				<td>{{r.architecture}}</td>
                <td>{{}}</td>
                <td class="collapsing">
                    <div ui-sref="dashboard.inspectRepository({registryName: vm.registryName, repositoryName: r.name})" class="compact ui icon button">
                        <i class="search icon"></i>
                    </div>
                    <div ng-click="vm.showRemoveRepositoryDialog(r)" class="compact ui icon button red">
                        <i class="trash icon"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>

<script>
    $('.ui.sortable.celled.table').tablesort();
</script>
