<div class="ui small remove modal transition" style="margin-top: -98px;">
<i class="close icon"></i>
<div class="header">
    Remove Registry: {{ vm.selectedRegistry.name }}
</div>
<div class="content">
    <p>Are you sure you want to remove this registry?</p>
</div>
<div class="actions">
    <div class="ui negative button">
        No
    </div>
    <div ng-click="vm.removeRegistry()" class="ui positive right labeled icon button">
        Yes
        <i class="checkmark icon"></i>
    </div>
</div>
</div>

<div class="ui padded grid">
    <div class="two column row">
        <div class="left floated column">
            <div ng-click="vm.refresh()" class="ui small blue labeled icon button">
                <i class="refresh icon"></i> Refresh 
            </div>
            <div ui-sref="dashboard.addRegistry" class="ui small green labeled icon button">
                <i class="plus icon"></i> Add Registry 
            </div>
        </div>

        <div class="right aligned right floated column">
            <div class="ui small icon input">
                <input ng-model="tableFilter" placeholder="Search registries..." reset-field/>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.registries.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        Registries
                    </div>
                    <p>There are no registries.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="filteredRegistries.length === 0">
        <div class="column">
            <table class="ui sortable celled table">
                <thead ng-hide="">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in filteredRegistries = (vm.registries | filter:tableFilter)">
                        <td>{{r.name}}</td>
                        <td>{{r.addr}}</td>
                        <td class="collapsing">
                            <div ui-sref="dashboard.inspectRegistry(r)" class="compact ui icon button">
                                <i class="search icon"></i>
                            </div>
                            <div ng-click="vm.showRemoveRegistryDialog(r)" class="compact ui icon button red">
                                <i class="trash icon"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-show="vm.registries.length > 0 && filteredContainers.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        Registries
                    </div>
                    <p>No registries matched your filter query</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('.ui.sortable.celled.table').tablesort();
</script>
