html,
body {
    font-size: 15px;
}
body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    margin: 0px;
    padding: 10px 45px 0px 20px;
    color: #555555;
    text-rendering: optimizeLegibility;
    min-width: 320px;
}
div.container {
    margin-top: 10px;
}

.hide {
    display: none;
}

.toolbar {
    margin-bottom: 5px;
}
