{% load i18n %}

<script type="text/javascript">
$(function() {
    $("li#sidenav-containers").addClass("active");
});
$("a.restart-container").click(function(){
    if (confirm("{% trans 'Are you sure you want to restart the container?' %}")) {
        var url = this.getAttribute('data-url');
        redirect(url);
    }
    return false;
});
$("a.stop-container").click(function(){
    if (confirm("{% trans 'Are you sure you want to stop the container?' %}")) {
        var url = this.getAttribute('data-url');
        redirect(url);
    }
    return false;
});
$("a.destroy-container").click(function(){
    if (confirm("{% trans 'Are you sure you want to destroy the container?' %}")) {
        var url = this.getAttribute('data-url');
        redirect(url);
    }
    return false;
});
</script>
