{% extends "base.html" %}
{% load i18n %}
{% load shipyard %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Containers' %}</span>
        <span class="section-toolbar">
            <a href="{% url 'containers.views.refresh' %}"><span class="glyphicon glyphicon-refresh"></span></a>
        </span>
        <span class="pull-right">
            <a href="{% url 'containers.views.create_container' %}" class="btn btn-success btn-sm">{% trans 'Create' %}</a>
        </span>
    </div>
    <div class="panel-body">
        {% if containers %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'ID' %}</th>
                    <th>{% trans 'Description' %}</th>
                    <th>{% trans 'Image' %}</th>
                    <th>{% trans 'Command' %}</th>
                    <th>{% trans 'Host' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for c in containers %}
                <tr>
                    <td><a href="{% url 'containers.views.container_details' container_id=c.container_id %}" class="container-info" data-container-id="{{c.container_id}}">{{c.container_id}}</a></td>
                    <td>{{c.description}}</td>
                    <td>{{c.get_meta.Config.Image}}</td>
                    <td>{{c.get_meta.Config.Cmd|join:" "}}</td>
                    <td>{{c.host.name}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="#" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu right">
                                <li><a class="attach-container" target="_blank" href="{% url 'containers.attach_container' host=c.host.name container_id=c.get_meta.ID %}">{% trans 'Attach' %}</a></li>
                                <li><a href="#" class="restart-container" data-url="{% url 'containers.restart_container' host=c.host.name container_id=c.get_meta.ID %}">{% trans 'Restart' %}</a></li>
                                <li><a href="#" class="stop-container" data-url="{% url 'containers.stop_container' host=c.host.name container_id=c.get_meta.ID %}">{% trans 'Stop' %}</a></li>
                                <li><a href="#" class="destroy-container" data-url="{% url 'containers.destroy_container' host=c.host.name container_id=c.get_meta.ID %}">{% trans 'Destroy' %}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-muted">{% trans 'No containers' %}</div>
        {% endif %}
    </div>
</div>
{% include "containers/_common.html" %}
<script type="text/javascript">
</script>
{% endblock %}
