<div class="ui fixed inverted main menu">
<div class="container">
    <a ui-sref="dashboard.containers" class="title item" id="logo">
        shipyard
    </a>
    <a ui-sref="dashboard.containers" ui-sref-active="active" class="title item">
        <i class="grid layout icon"></i> Containers
    </a>
    <a ui-sref="dashboard.images" ui-sref-active="active" class="title item">
        <i class="disk outline icon"></i> Images
    </a>
    <a ui-sref="dashboard.nodes" ui-sref-active="active" class="title item">
        <i class="sitemap icon"></i> Nodes
    </a>
    <a ui-sref="dashboard.registry" ui-sref-active="active" class="title item">
        <i class="fork icon"></i> Registries
    </a>
    <a ui-sref="dashboard.accounts" ui-sref-active="active" class="title item">
        <i class="user icon"></i> Accounts
    </a>
    <a ui-sref="dashboard.events" ui-sref-active="active" class="title item">
        <i class="browser icon"></i> Events
    </a>
    <div class="ui right inverted menu">
        <div class="ui item">
            <div class="ui dropdown">
                {{ username }} <i class="dropdown icon"></i>
                <div class="menu">
                    <div ui-sref="logout" class="item"><i class="sign out icon"></i>Logout</div>
                </div>
            </div>
        </div>
        <div class="ui item">
            <a ui-sref="dashboard.help">
                <i class="help circle icon"></i>
            </a>
        </div>
    </div>
</div>
</div>

<div class="pusher">
    <div class="ui active inverted dimmer" ng-show="isLoadingView">
        <div class="ui loader"></div>
    </div>
    <div id="content" ui-view>
    </div>
</div>

<script>
$('.ui.dropdown').dropdown();
</script>
