<script>
$('.ui.dropdown')
.dropdown();
</script>


<div class="ui fixed inverted main menu">
    <div class="container">
        <a ui-sref="dashboard.containers">
            <div class="title item">Shipyard</div>
        </a>
        <a ui-sref="dashboard.containers" ng-class="{active: $state.includes('containers')}" class="item">
            <i class="tasks icon"></i> Containers
        </a>
        <a ui-sref="dashboard.events" ng-class="{active: $state.includes('events')}" class="item">
            <i class="browser icon"></i> Events
        </a>
        <div class="ui right inverted menu">
            <div class="ui item">
                <div class="ui dropdown">
                    {{ username }} <i class="dropdown icon"></i>
                    <div class="menu">
                        <div ui-sref="logout" class="item"><i class="sign out icon"></i>Logout</div>
                    </div>
                </div>
            </div>
            <div class="ui item">
                <a ui-sref="dashboard.help">
                    <i class="help circle icon"></i>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="ui padded grid">
    <div class="row" ng-show="doingResolve" style="text-align: center;">
        <div class="five wide column">
            <div class="ui icon message">
                <i class="notched circle loading icon"></i>
                <div class="content">
                    <div class="header">
                        Just one second
                    </div>
                    <p>We're fetching that content for you.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="doingResolve">
        <div class="column">
            <div ui-view class="ui grid">
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="row">
        <div class="center aligned column">
            <p><a href="//shipyard-project.com">shipyard</a> © 2015. All rights reserved.</p>
            <a href="//github.com/shipyard"><i class="big black github icon"></i></a>
        </div>
    </div>
</div>

