      <div id="menu" class="ui inverted menu">
        <div class="ui fixed inverted header item">
          <a ui-sref='dashboard'>
            Shipyard
          </a>
        </div>
        <a ui-sref="dashboard" class="item">
          <i class="dashboard icon"></i> Dashboard
        </a>
        <a ui-sref="containers" class="active item">
          <i class="tasks icon"></i> Containers
        </a>
        <a ui-sref="swarm" class="item">
          <i class="cloud icon"></i> Swarm
        </a>
        <a ui-sref="events" class="item">
          <i class="browser icon"></i> Events
        </a>
      </div>